.navbar{
    background-image: url(assets/images/home/nav-tab.png);
   background-size:100% auto;
    background-repeat: no-repeat;
    align-items: center; 
    justify-content: center;
    object-position: center;
}

.navbar-menu{
    padding-left: 0px;
    padding-top: 12px;
}
/*

.hamburger{
    padding-left: 30px;
}

.logo{
padding-left: 210px;
}

.headtext{
    padding-top: 10px;
}
*/

.head{
    margin: auto;
    background-image: url(assets/images/home/nav-tab.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
}


.head1{
    height: 40px;
    width: 8%;
    padding-right: 15px;
    background-color: transparent;
}

.head2{
    height: flex;
    width: 15%;
    background-color: transparent;
    padding-top: 8px;
    padding-left: 0px;
}

.head3{
    height: flex;
    width: 50%;
    background-color: transparent;
    margin: auto;
    padding-top: 3px;
}

.head4{
    height: flex;
    width: flex;
    background-color: transparent;
}

.logo{
    margin: auto;
    display: flex;
}


