{% extends 'layout/base.twig' %}

{% block title %} <title>Album</title> {% endblock %}

{% block stylesheet %} {% endblock %}

{% block style %}

	<style>
      .image { 
        position: relative; 
        width: 100%; /* for IE 6 */
        height:100%;
      }
      h2 {
        position: absolute;
        top: 42%;
        left: 0;
        width: 100%;
        font-size: 30px;
      }
      .w3-content a {
        color: #e3a49c;
      }
      .w3-content a:hover {
        color: #f8b2a9;
      }
      .w3-hover-gray {
        -webkit-transition:0.7s;
        -moz-transition:0.7s;
        -o-transition:0.7s;

        -webkit-filter: grayscale(1);
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        filter: url(desaturate.svg#greyscale);
        filter: gray;
        filter: grayscale(70%);
      }
      .w3-hover-gray:hover {
        -webkit-filter: grayscale(0);
        -webkit-filter: grayscale(0);
        -moz-filter: grayscale(0);
        filter: none;
        filter: grayscale(0);
      }
  </style>

{% endblock %}

{% block content1 %} {% endblock %}

{% block content2 %}

    <div class="w3-content" style="max-width:1200px">
      <!--text headder-->
      <div class="w3-col" style="padding-top: 85px; padding-left: 5%; display: flex; margin-bottom:3%">
        <a><p style="font-family: Chonburi;font-size: 33px; color: #464646"> 
        Albums
        </p></a>
      </div>

      <!--text headder-->
      <!--tag-->
      <div class="w3-row-padding w3-center w3-margin-top" style="padding: 0% 7% 0 7%">
      <!--1-->
        <div class="w3-third" style="padding-left: 2%;padding-right: 2%; margin-bottom: 4%">
          <figure class="image is-1by2"></figure>
            <div class="w3-card-2 w3-padding-top " style="width: 100%;background-color: #976f6c;">
              <a href="#">
                <div class="image">
                  <img src="/assets/images/tag/sum11.png" alt="image-1" style="width: 100%;" class="w3-grayscale-max w3-hover-gray" style="width:100%"> 
                  <h2 style="font-family: Chonburi;color: #ffffff;">#SUMMER</h2>
                </div>
              </a>
            </div>
        </div>
        <!--2-->
        <div class="w3-third" style="padding-left: 2%;padding-right: 2%;margin-bottom: 4%">
          <figure class="image is-1by2"></figure>
            <div class="w3-card-2 w3-padding-top " style="width: 100%;background-color: #976f6c;">
              <a href="#">
                <div class="image">
                  <img src="/assets/images/tag/sum22.png" alt="image-1" style="width: 100%;" class="w3-grayscale-max w3-hover-gray" style="width:100%"> 
                  <h2 style="font-family: Chonburi;color: #ffffff;">#WINTER</h2>
                </div>
              </a>
            </div>
        </div>
        <!--3-->
        <div class="w3-third" style="padding-left: 2%;padding-right: 2%;margin-bottom: 4%">
          <figure class="image is-1by2"></figure>
            <div class="w3-card-2 w3-padding-top " style="width: 100%;background-color: #976f6c;">
              <a href="#">
                <div class="image">
                  <img src="/assets/images/tag/sum33.png" alt="image-1" style="width: 100%;" class="w3-grayscale-max w3-hover-gray" style="width:100%">  
                  <h2 style="font-family: Chonburi;color: #ffffff;">#SPRING</h2>
                </div>
              </a>
            </div>
        </div>
        <!--4-->
        <div class="w3-third" style="padding-left: 2%;padding-right: 2%;margin-bottom: 4%">
          <figure class="image is-1by2"></figure>
            <div class="w3-card-2 w3-padding-top " style="width: 100%;background-color: #976f6c;">
              <a href="#">
                <div class="image">
                  <img src="/assets/images/tag/sum1.png" alt="image-1" style="width: 100%;" class="w3-grayscale-max w3-hover-gray" style="width:100%">
                  <h2 style="font-family: Chonburi;color: #ffffff;">#CASUAL</h2>
                </div>
              </a>
            </div>
        </div>
        <!--5-->
        <div class="w3-third" style="padding-left: 2%;padding-right: 2%;margin-bottom: 4%">
          <figure class="image is-1by2"></figure>
            <div class="w3-card-2 w3-padding-top " style="width: 100%;background-color: #976f6c;">
              <a href="#">
                <div class="image">
                  <img src="/assets/images/tag/sum55.png" alt="image-1" style="width: 100%;" class="w3-grayscale-max w3-hover-gray" style="width:100%">
                  <h2 style="font-family: Chonburi;color: #ffffff;">#VINTAGE</h2>
                </div>
              </a>
            </div>
        </div>
        <!--6-->
        <div class="w3-third" style="padding-left: 2%;padding-right: 2%;margin-bottom: 4%">
          <figure class="image is-1by2"></figure>
            <div class="w3-card-2 w3-padding-top " style="width: 100%;background-color: #976f6c;">
              <a href="#">
                <div class="image">
                  <img src="/assets/images/tag/sum3.png" alt="image-1" style="width: 100%;" class="w3-grayscale-max w3-hover-gray" style="width:100%">
                  <h2 style="font-family: Chonburi;color: #ffffff;">#HIPHOP</h2>
                </div>
              </a>
            </div>
        </div>
        <!--7-->
        <div class="w3-third" style="padding-left: 2%;padding-right: 2%;margin-bottom: 4%">
          <figure class="image is-1by2"></figure>
            <div class="w3-card-2 w3-padding-top " style="width: 100%;background-color: #976f6c;">
              <a href="#">
                <div class="image">
                  <img src="/assets/images/tag/sum2.png" alt="image-1" style="width: 100%;" class="w3-grayscale-max w3-hover-gray" style="width:100%">
                  <h2 style="font-family: Chonburi;color: #ffffff;">#PARTY</h2>
                </div>
              </a>
            </div>
        </div>
        <!--8-->
        <div class="w3-third" style="padding-left: 2%;padding-right: 2%;margin-bottom: 4%">
          <figure class="image is-1by2"></figure>
            <div class="w3-card-2 w3-padding-top " style="width: 100%;background-color: #976f6c;">
              <a href="#">
                <div class="image">
                  <img src="/assets/images/tag/sum88.png" alt="image-1" style="width: 100%;" class="w3-grayscale-max w3-hover-gray" style="width:100%"> 
                  <h2 style="font-family: Chonburi;color: #ffffff;">#CUTE</h2>
                </div>
              </a>
            </div>
        </div>
        <!--9-->
        <div class="w3-third" style="padding-left: 2%;padding-right: 2%;margin-bottom: 5%">
          <figure class="image is-1by2"></figure>
            <div class="w3-card-2 w3-padding-top " style="width: 100%;background-color: #976f6c;">
              <a href="#">
                <div class="image">
                  <img src="/assets/images/tag/sum99.png" alt="image-1" style="width: 100%;" class="w3-grayscale-max w3-hover-gray" style="width:100%">
                  <h2 style="font-family: Chonburi;color: #ffffff;">#SPORT</h2>
                </div>
              </a>
            </div>
        </div>
        <!-- Pagination -->
        <div class="w3-center w3-padding-32">
          <div class="w3-bar">
            <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
            <a href="#" class="w3-bar-item w3-black w3-button">1</a>
            <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
            <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
            <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
            <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
          </div>
        </div>
      </div>
    </div>

{% endblock %}