{% extends 'layout/base.twig' %}

{% block title %} <title>LOOQ</title> {% endblock %}

{% block stylesheet %}

  <link rel="stylesheet" type="text/css" href="css/personal.css" />  

{% endblock %}

{% block style %} 

  <style>
      .content img {
        filter: alpha(opacity=100);
        opacity:1.0;
        -webkit-transition:0.7s;
        -moz-transition:0.7s;
        -o-transition:0.7s;
      }
      .content img:hover {
        filter: alpha(opacity=70);
        opacity:.8;     
    }
  </style>


{% endblock %}

{% block content1 %} {% endblock %}

{% block content2 %}

  <div class="w3-content" style="max-width:1200px">
     <!--text headder-->
    <div class="w3-col" style="padding-top: 85px; padding-left: 5%; display: flex; margin-bottom:3%">
        <a><p style="font-family: Chonburi;font-size: 33px; color: #464646"> 
        LOOQ
        </p></a>
    </div>
    <!--text headder-->
    <div class="w3-row-padding w3-center w3-margin-top content" style="padding: 0% 7% 0 7%">
      <div class="w3-third" style="padding-bottom: 20px;">
        <div class="w3-card-4 container w3-third" style="width:100%; background-color: #fff">
          <img src="/assets/images/Finish/finish01.png" style="width:100%;padding-right: 20%;padding-left: 20%;">
            <div class="overlay">
              <div class="image-popup">
                <img src="/assets/images/profile/bar.png" alt="" width="100%">
              </div>
              <a href="#!">
                <div class="image-popup" style="padding-left: 60%">
                  STYLE / ...........
                </div>
              </a>
            </div>
        </div>
      </div>
      <div class="w3-third" style="padding-bottom: 20px;">
        <div class="w3-card-4 container w3-third" style="width:100%; background-color: #fff">
          <img src="/assets/images/Finish/finish02.png" style="width:100%;padding-right: 20%;padding-left: 20%;">
            <div class="overlay">
              <div class="image-popup">
                <img src="/assets/images/profile/bar.png" alt="" width="100%">
              </div>
              <a href="#!">
                <div class="image-popup" style="padding-left: 60%">
                  STYLE / ...........
                </div>
              </a>
            </div>
        </div>
      </div>
      <div class="w3-third" style="padding-bottom: 20px;">
        <div class="w3-card-4 container w3-third" style="width:100%; background-color: #fff">
          <img src="/assets/images/Finish/finish03.png" style="width:100%;padding-right: 20%;padding-left: 20%;">
            <div class="overlay">
              <div class="image-popup">
                <img src="/assets/images/profile/bar.png" alt="" width="100%">
              </div>
              <a href="#!">
                <div class="image-popup" style="padding-left: 60%">
                  STYLE / ...........
                </div>
              </a>
            </div>
        </div>
      </div>
      <div class="w3-third" style="padding-bottom: 20px;">
        <div class="w3-card-4 container w3-third" style="width:100%; background-color: #fff">
          <img src="/assets/images/Finish/finish04.png" style="width:100%;padding-right: 20%;padding-left: 20%;">
            <div class="overlay">
              <div class="image-popup">
                <img src="/assets/images/profile/bar.png" alt="" width="100%">
              </div>
              <a href="#!">
                <div class="image-popup" style="padding-left: 60%">
                  STYLE / ...........
                </div>
              </a>
            </div>
        </div>
      </div>
      <div class="w3-third" style="padding-bottom: 20px;">
        <div class="w3-card-4 container w3-third" style="width:100%; background-color: #fff">
          <img src="/assets/images/Finish/finish05.png" style="width:100%;padding-right: 20%;padding-left: 20%;">
            <div class="overlay">
              <div class="image-popup">
                <img src="/assets/images/profile/bar.png" alt="" width="100%">
              </div>
              <a href="#!">
                <div class="image-popup" style="padding-left: 60%">
                  STYLE / ...........
                </div>
              </a>
            </div>
        </div>
      </div>
      <div class="w3-third" style="padding-bottom: 20px;">
        <div class="w3-card-4 container w3-third" style="width:100%; background-color: #fff">
          <img src="/assets/images/Finish/finish06.png" style="width:100%;padding-right: 20%;padding-left: 20%;">
            <div class="overlay">
              <div class="image-popup">
                <img src="/assets/images/profile/bar.png" alt="" width="100%">
              </div>
              <a href="#!">
                <div class="image-popup" style="padding-left: 60%">
                  STYLE / ...........
                </div>
              </a>
            </div>
        </div>
      </div>
      <div class="w3-third" style="padding-bottom: 20px;">
        <div class="w3-card-4 container w3-third" style="width:100%; background-color: #fff">
          <img src="/assets/images/Finish/finish07.png" style="width:100%;padding-right: 20%;padding-left: 20%;">
            <div class="overlay">
              <div class="image-popup">
                <img src="/assets/images/profile/bar.png" alt="" width="100%">
              </div>
              <a href="#!">
                <div class="image-popup" style="padding-left: 60%">
                  STYLE / ...........
                </div>
              </a>
            </div>
        </div>
      </div>
      <div class="w3-third" style="padding-bottom: 20px;">
        <div class="w3-card-4 container w3-third" style="width:100%; background-color: #fff">
          <img src="/assets/images/Finish/finish08.png" style="width:100%;padding-right: 20%;padding-left: 20%;">
            <div class="overlay">
              <div class="image-popup">
                <img src="/assets/images/profile/bar.png" alt="" width="100%">
              </div>
              <a href="#!">
                <div class="image-popup" style="padding-left: 60%">
                  STYLE / ...........
                </div>
              </a>
            </div>
        </div>
      </div><div class="w3-third" style="padding-bottom: 50px;">
        <div class="w3-card-4 container w3-third" style="width:100%; background-color: #fff">
          <img src="/assets/images/Finish/finish09.png" style="width:100%;padding-right: 20%;padding-left: 20%;">
            <div class="overlay">
              <div class="image-popup">
                <img src="/assets/images/profile/bar.png" alt="" width="100%">
              </div>
              <a href="#!">
                <div class="image-popup" style="padding-left: 60%">
                  STYLE / ...........
                </div>
              </a>
            </div>
        </div>
      </div>
      
      <!-- Pagination -->
        <div class="w3-center w3-padding-32" style="text-align: center;">
          <div class="w3-bar">
            <a href="#!" class="w3-bar-item w3-button w3-hover-black">«</a>
            <a href="#!" class="w3-bar-item w3-black w3-button">1</a>
            <a href="#!" class="w3-bar-item w3-button w3-hover-black">2</a>
            <a href="#!" class="w3-bar-item w3-button w3-hover-black">3</a>
            <a href="#!" class="w3-bar-item w3-button w3-hover-black">4</a>
            <a href="#!" class="w3-bar-item w3-button w3-hover-black">»</a>
          </div>
        </div>
    </div>
  </div>

{% endblock %}