{% extends 'layout/base.twig' %}

{% block title %} <title>Clothes » Tops</title> {% endblock %}

{% block stylesheet %} {% endblock %}

{% block style %}

	<style>
        .w3-content a{
          color: #976f6c !important;
        }
        .w3-content a:hover{
          color: #f8b2a9 !important;
        }
        .w3-content img {
          filter: alpha(opacity=100);
          opacity:1.0;
          -webkit-transition:0.7s;
          -moz-transition:0.7s;
          -o-transition:0.7s;
        }
        .w3-content img:hover {
          filter: alpha(opacity=70);
          opacity:.7;
        }
  	</style>

{% endblock %}

{% block content %}

	<div class="w3-content"  style="max-width:1200px; padding-top: 50px; color:#424242" >
      <div class="w3-padding-32">
        <div class="w3-container">
          <div class="w3-border" style="background-color: #fff;">
            <button class="w3-button w3-white ">
              <a href="all-clothes">All</a>
            </button>
            <li class="w3-dropdown-hover">
              <button class="w3-button w3-white">
                <a href="all-tops">Tops <i class="fa fa-caret-down w3-margin-left"></i></a>
                  <div class="w3-dropdown-content w3-white w3-card-4">
                    <a href="blouses">Blouses</a><br>
                    <a href="tanks">Tanks</a><br>
                  </div>
              </button>
            </li>
            <li class="w3-dropdown-hover">
              <button class="w3-button w3-white">
                <a href="all-bottoms">Bottoms <i class="fa fa-caret-down w3-margin-left"></i></a>
                  <div class="w3-dropdown-content w3-white w3-card-4">
                    <a href="pants">Pants</a><br>
                    <a href="shorts">Shorts</a><br>
                    <a href="skirts">Skirts</a><br>
                </div>
              </button>
            </li>
            <button class="w3-button w3-white w3-hide-small">
              <a href="dresses">Dresses</a>
            </button>
            <button class="w3-button w3-white w3-hide-small">
              <a href="shoes">Shoes</a>
            </button>
            <li class="w3-dropdown-hover">
              <button class="w3-button w3-white"><a href="all-accessories">Accessories<i class="fa fa-caret-down w3-margin-left"></i></a>
                <div class="w3-dropdown-content w3-white w3-card-4">
                  <a href="bags">Bags</a><br>
                  <a href="socks">Socks</a><br>
                </div>
              </button>
            </li>
          </div>
        </div>
      </div>

      <div class="w3-row-padding w3-center w3-margin-top" style="font-size: 14px;">
        <div class="w3-quarter">
          <div class="w3-card-2 w3-padding-top" style="min-height:350px; background-color: #ffffff;">
            <figure class="image is-1by2"></figure>
            <img src="assets/images/looq/blouse1.png"alt"image-1" style="height: 250px"><br><br>
            <p><a href="https://www.pomelofashion.com/th/en/tops/14031-elodie-ruffle-sleeve-wrap-top.html" target="_blank">Elodie Ruffle Sleeve Wrap Top</a></p>
            <big>890 ฿</big>
            <br>
          </div><br>
        </div>

        <div class="w3-quarter">
          <div class="w3-card-2 w3-padding-top" style="min-height:350px; background-color: #ffffff;">
            <figure class="image is-1by2"></figure>
            <img src="assets/images/looq/blouse2.png"alt"image-1" style="height: 250px"><br><br>
            <p><a href="https://www.pomelofashion.com/th/en/tops/14438-mai-one-shoulder-ruffle-top---red.html" target="_blank">Mai One Shoulder Ruffle Top - Red</a></p>
            <big>990 ฿</big>
            <br>
          </div><br>
        </div>

        <div class="w3-quarter">
          <div class="w3-card-2 w3-padding-top" style="min-height:350px; background-color: #ffffff;">
            <figure class="image is-1by2"></figure>
            <img src="assets/images/looq/tank1.jpg"alt"image-1" style="height: 250px"><br><br>
            <p><a href="https://milin.com/shop/costa-flower-printed-top/" target="_blank">Costa (Flower Printed) Top</a></p>
            <big>2,875 ฿</big>
            <br>
          </div><br>
        </div>

        <div class="w3-quarter">
          <div class="w3-card-2 w3-padding-top" style="min-height:350px; background-color: #ffffff;">
            <figure class="image is-1by2"></figure>
            <img src="assets/images/looq/tank2.jpg"alt"image-1" style="height: 250px"><br><br>
            <p><a href="https://milin.com/shop/taylor-top/" target="_blank">Milin Taylop Top</a></p>
            <big>1,370 ฿</big>
            <br>
          </div><br>
        </div>

        <div class="w3-quarter">
          <div class="w3-card-2 w3-padding-top" style="min-height:350px; background-color: #ffffff;">
            <figure class="image is-1by2"></figure>
            <img src="assets/images/looq/tank3.jpg"alt"image-1" style="height: 250px"><br><br>
            <p><a href="https://milin.com/shop/blair-top/" target="_blank">Milin Blair Top</a></p>
            <big>1,780 ฿</big>
            <br>
          </div><br>
        </div>

        <div class="w3-quarter">
          <div class="w3-card-2 w3-padding-top" style="min-height:350px; background-color: #ffffff;">
            <figure class="image is-1by2"></figure>
            <img src="assets/images/looq/blouse3.png"alt"image-1" style="height: 250px"><br><br>
            <p><a href="https://www.pomelofashion.com/th/en/tops/14792-paget-ruffle-off-shoulder-top---stripe.html" target="_blank">Paget Ruffle Off Shoulder Top - Stripe</a></p>
            <big>1,090 ฿</big>
            <br>
          </div><br>
        </div>

        <div class="w3-quarter">
          <div class="w3-card-2 w3-padding-top" style="min-height:350px; background-color: #ffffff;">
            <figure class="image is-1by2"></figure>
            <img src="assets/images/looq/tank4.png"alt"image-1" style="height: 250px"><br><br>
            <p><a href="https://www.pradithofficial.com/p/609-bella-long-shirt-black/" target="_blank">Bella Long Shirt - Black</a></p>
            <big>1,590 ฿</big>
            <br>
          </div><br>
        </div>

        <div class="w3-quarter">
          <div class="w3-card-2 w3-padding-top" style="min-height:350px; background-color: #ffffff;">
            <figure class="image is-1by2"></figure>
            <img src="assets/images/looq/top1.jpg"alt"image-1" style="height: 250px"><br><br>
            <p><a href="https://milin.com/shop/fauna-top/" target="_blank">Milin Fauna Top</a></p>
            <big>3,625 ฿</big>
            <br>
          </div><br>
        </div>

        <div class="w3-quarter">
          <div class="w3-card-2 w3-padding-top" style="min-height:350px; background-color: #ffffff;">
            <figure class="image is-1by2"></figure>
            <img src="assets/images/looq/tank5.png"alt"image-1" style="height: 250px"><br><br>
            <p><a href="https://www.pradithofficial.com/p/605-bella-long-shirt-white/" target="_blank">Bella Long Shirt - White</a></p>
            <big>1,590 ฿</big>
            <br>
          </div><br>
        </div>

        <div class="w3-quarter">
          <div class="w3-card-2 w3-padding-top" style="min-height:350px; background-color: #ffffff;">
            <figure class="image is-1by2"></figure>
            <img src="assets/images/looq/blouse8.png"alt"image-1" style="height: 250px"><br><br>
            <p><a href="http://shop.asavagroup.com/product/adb-454" target="_blank">Grace - Beige</a></p>
            <big>7,400 ฿</big>
            <br>
          </div><br>
        </div>

        <div class="w3-quarter">
          <div class="w3-card-2 w3-padding-top" style="min-height:350px; background-color: #ffffff;">
            <figure class="image is-1by2"></figure>
            <img src="assets/images/looq/blouse4.png"alt"image-1" style="height: 250px"><br><br>
            <p><a href="http://shop.asavagroup.com/product/adb-451" target="_blank">Grace - White</a></p>
            <big>7,200 ฿</big>
            <br>
          </div><br>
        </div>

        <div class="w3-quarter">
          <div class="w3-card-2 w3-padding-top" style="min-height:350px; background-color: #ffffff;">
            <figure class="image is-1by2"></figure>
            <img src="assets/images/looq/tank10.png"alt"image-1" style="height: 250px"><br><br>
            <p><a href="https://www.pomelofashion.com/th/en/tops/14987-reesa-cut-out-shoulder-blouse---pink.html" target="_blank">Reesa Cut Out Shoulder Blouse - Pink</a></p>
            <big>590 ฿</big>
            <br>
          </div><br>
        </div>

        <div class="w3-container w3-text-grey" id="jeans" style="text-align: center;"><br>
          <p>12 items</p>
        </div>

      <!-- Pagination -->
        <div class="w3-center w3-padding-32" style="text-align: center;">
          <div class="w3-bar">
            <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
            <a href="#" class="w3-bar-item w3-black w3-button">1</a>
            <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
            <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
            <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
            <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
          </div>
        </div>
      </div>
    </div>

{% endblock %}