{% extends 'layout/base.twig' %}

{% block title %} <title>Customer care</title> {% endblock %}

{% block stylesheet %} {% endblock %}

{% block style %}

	<style>
    .shadow {
      -webkit-box-shadow: 3px 3px 3px #ccc;
      -moz-box-shadow: 3px 3px 3px #ccc;
      box-shadow: 3px 3px 3px #ccc;
    }
    button.accordion {
        background-color: #dfc8c9;
        color: #fff;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
        border-radius: 7px 7px 0px 0px;
    }
    button.accordion:hover {
        background-color: #cab4b4;
    }
    button.accordion.active {
        background-color: #dfc8c9;
        box-shadow: 0px;
    }
    button.accordion:after {
        content: '\02C3';
        color: #fff;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }
    button.accordion.active:after {
        content: "\02C5";
    }
    div.panel {
        padding: 0 50px;
        background-color: #f6efef;
        color: #737373;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        border-radius: 0px 0px 5px 5px;     
    }
	</style>

{% endblock %}

{% block content1 %} {% endblock %}

{% block content2 %} 

    <div class="content" style="">
        <div class="topic" style="width: 100%; display: flex; justify-content: center;">
          <p style="font-size: 30px;margin-top: 85px; font-family: Chonburi; color: #424242;">คำถามที่พบบ่อย ( FAQ )</p>
        </div>
        <div style="margin-top: 3%;margin-left: 10%;margin-right: 10%;margin-bottom: 5%;">
          <div class="shadow" style="margin-bottom: 4%;">
            <button class="accordion">ดีไซน์ เเละคอนเซ็ปของเว็บคืออะไร?</button>
              <div class="panel w3-shadow">
                <p><br>LOOQ & STYLE คือ เว็บไซต์ห้องแต่งตัวจําลองที่จะช่วยให้การเลือกสรรเสื้อผ้าของสาวๆเป็นเรื่อง
                  ที่ง่ายขึ้น ช่วยในการตัดสินใจซื้อเสื้อผ้าหรือแม้แต่ลดเวลาในการแต่งตัวของสาวๆลงได้<br><br></p>
              </div>
          </div>
          <div class="shadow" style="margin-bottom: 4%;">
            <button class="accordion">แบรนด์เสื้อผ้าที่เข้าร่วมกับทางเรา</button>
              <div class="panel">
                <p><br>ASAVA, PRADITH, O & B, POMELO, MILIN<br><br></p>
              </div>
          </div>
          <div class="shadow" style="margin-bottom: 4%;">
            <button class="accordion">อัพเดทบทความเมื่อไหร่?</button>
              <div class="panel">
                <p><br>ในส่วนของบทความนั้น ทางเราจะมีอัพเดททุกๆ 3 เดือนตามฤดูกาลต่างๆ และในส่วนของเทรนด์ช่วงนั้นๆ ทางเราจะมีการอัพเดททุกวันจันทร์ในอาทิตย์ที่ 2 ของเดือนนั้นๆ<br><br></p>
              </div>
          </div>
          <div class="shadow" style="margin-bottom: 4%;">
            <button class="accordion">ลองเเต่งตัวในเว็บกับไปเดินเลือกซื้อเองตามร้านเเตกต่างกันไหม?</button>
              <div class="panel">
                <p><br>แตกต่างกันค่ะ การลองแต่งตัวกับทางเว็บไซต์ของเรา ลูกค้าจะได้รู้เลยว่าชุดเหมาะกับเราไหม ไม่ต้องเดินเลือกตามร้านให้เมื่อย หรือเสี่ยงกับการที่บางร้านไม่มีการให้ลองสินค้า ทำให้บางครั้งที่ซื้อมาอาจจะใส่ไม่ได้หรือไม่เข้ากับตัวลูกค้าอย่างที่คิดไว้ ดังนั้นเว็บเราจึงตอบโจทย์กับสาวยุคใหม่เป็นอย่างมาก<br><br></p>
              </div>
          </div>
          <div class="shadow" style="margin-bottom: 4%;">
            <button class="accordion">ทางเว็บรับการสั่งสินค้าไหมคะ?</button>
              <div class="panel">
                <p><br>ทางเว็บเราจะไม่มีการรับออเดอร์สินค้าใดๆค่ะ เว็บไซต์เราเป็นเพียงช่องทางการโปรโมเท่านั้น เเต่หากลูกค้าต้องการสินค้าชิ้นไหนทางเว็บไซต์ก็ได้มีการแนบลิ้งค์ของสินค้านั้นไว้ให้ใต้รูปสินค้านั้นๆ ลูกค้าสามารถเข้าไปสั่งซื้อได้เองจากเว็บไซต์ของสินค้าได้เลยค่ะ<br><br></p>
              </div>
            </div> 
          </div>
    </div>

    <script>
        //ให้แท็บมันลงมา
        var acc = document.getElementsByClassName("accordion");
        var i;  
        for (i = 0; i < acc.length; i++) {
        acc[i].onclick = function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight){
          panel.style.maxHeight = null;
         } else {
           panel.style.maxHeight = panel.scrollHeight + "px";
            } 
          }
        }  
    </script>
{% endblock %}