 {% extends 'layout/base.twig' %}

{% block title %} <title>Design LOOQ</title> {% endblock %}

{% block stylesheet %} {% endblock %}

{% block style %}

	<style>
        .img-container { position: relative; }

        .img-container .tops {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 5;
        }
        .img-container .bottoms {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 4;
        }                
        .img-container .modelbg {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
        }
        .img-container .glasses {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 7;
        }
        .img-container .bags {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 6;
        }
        .img-container .shoes {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 3;
        }
        .img-container .shadow {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
        }
        .button {
          border: solid 1px #999;

          -webkit-transition:0.7s;
          -moz-transition:0.7s;
          -o-transition:0.7s;

          filter: alpha(opacity=100);
          opacity:1.0;

          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
        }

        .button:hover {
          filter: alpha(opacity=70);
          opacity:.8;

          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          box-shadow: 0.1em 0.1em 0.2em #999;
          text-shadow: none;
        }
        .iconmenu {
          -webkit-transition:0.7s;
          -moz-transition:0.7s;
          -o-transition:0.7s;
          filter: alpha(opacity=100);
          opacity:1.0;
        }
        .iconmenu:hover {
          filter: alpha(opacity=70);
          opacity:.8;

          cursor: pointer;
        }
      	/*tab*/
      	/* Style the tab */
        div.tab {
          float: left;
          background-color: #e7c6c2; /*สีพื้นหลังปุ่ม*/
          position:relative;
        }
      	/*button*/
      	/* Style the buttons inside the tab// text*/
        div.tab a {
          display: block;
          background-color: inherit;
          /*padding: 22px 16px*/
          width: 100%;
          border: none;
          outline: none;
          text-align: left;
          cursor: pointer;
          transition: 0.3s;
          font-size: 1vw;
          font-family: Mitr;
          color: #ffffff;
        }
      	/* Change background color of buttons on hover */
        div.tab a:hover {
          background-color: #cea19c; /*สีตอนวาง*/
        }
      	/* Create an active/current "tab button" class */
        div.tab a:active {
          background-color: #d69790; /*สีหลังคลิก*/
        }
        .tabname {
          width: 3vw;
          padding: 1vw;
          text-align: center;
        }
        div.tabout {
          background-color: none; /*สีพื้นหลังปุ่ม*/
          position: relative;
          text-align: right;
          padding-right: 20%;
          padding-top: 10%;
        }
      	/*button*/
      	/* Style the buttons inside the tab// text*/
        div.tabout a {
          transition: 0.3s;
          font-size: 2rem;
        }
        .tabclothes {
          background-color: #ffffff;
          border-top: solid 1px #ccc;
          border-left: solid 1px #ccc;
          -moz-box-shadow: 3px 3px 3px #ccc;
          -webkit-box-shadow: 3px 3px 3px #ccc;
          box-shadow: 3px 3px 3px #ccc;
        }
        .tabclothes img {
          filter: alpha(opacity=100);
          opacity:1.0;
          -webkit-transition:0.7s;
          -moz-transition:0.7s;
          -o-transition:0.7s;
        }
        .tabclothes img:hover {
          filter: alpha(opacity=70);
          opacity:.7;
        }
        .menuclothes {
          text-align: center;
          width: 150px;
          height: 150px;
          background-color: transparent;
          margin: 0% 0% 2% 4.5%;
        }
      	/*content*/
      	/* Style the tab content */
        .tabcontent {
          position: relative;
          /*padding: 0px 12px;*/
          /*border-left: none;*/
          display: none;
          /*border: 1px solid #976f6c;*/
          /*border-top: none;*/
          line-height: 13pt;
          /*background-image: url('/assets/images/buttons/content 2.png');*/
          width: 100vw;
          height: 70vw;
          overflow: auto;
        }
        .fa-trash-o {
          cursor: pointer;
        }

        .style-4::-webkit-scrollbar-track
        {
          background-color: transparent;
        }

        .style-4::-webkit-scrollbar
        {
          width: 10px;
          background-color: transparent;
        }

        .style-4::-webkit-scrollbar-thumb
        {
          background-color: transparent;
        }

      	/*ในส่วนของติ่น*/
        .w3-sidebar a {
          font-family: "Mitr", sans-serif, 18px;
        }

        .w3-wide {
          font-family: "Mitr", sans-serif, 18px;
        }
        .w3-card-2{
            max-width: 130px;
        }
      	/*slide*/
      	/* Page content */
        .main {
          margin-left: 200px; /* Same as the width of the sidenav */
        }
      	/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
        #main {
          transition: margin-left .5s;
          padding: 20px;
        }
      	/*เอฟเฟค*/
        @-webkit-keyframes fadeEffect {
          from {opacity: 0;}
          to {opacity: 1;}
        }

        @keyframes fadeEffect {
          from {opacity: 0;}
          to {opacity: 1;}
        }

        .sidenav {
          height: 100%;
          width: 0;
          position: relative;
          z-index: 1;
          top: 0;
          right: 0;
          background-color: #111;
          overflow-x: hidden;
          transition: 0.5s;
          padding-top: 60px;
          float: right;
        }
      	/*in tab*/
        .sidenav a {
          padding: 8px 8px 8px 32px;
          text-decoration: none;
          font-size: 18px;
          color: #818181;
          display: block;
          transition: 0.3s;
        }

        .sidenav a:hover {
          color: #f1f1f1;
        }

        .sidenav .closebtn {
          position: absolute;
          top: 0;
          right: 25px;
          font-size: 18px;
          margin-left: 50px;
        }

        @media screen and (max-height: 450px) {
          .sidenav {padding-top: 18px;}
          .sidenav a {font-size: 18px;}
        }

        input[type=text] {
          width: 130px;
          -webkit-transition: width 0.4s ease-in-out;
          transition: width 0.4s ease-in-out;
          float: right;
        }

      	/* When the input field gets focus, change its width to 100% */
        input[type=text]:focus {
          width: 130px;
        }
    </style>

{% endblock %}

{% block content1 %} {% endblock %}

{% block content2 %}

    <div class="topic" style="padding-top: 85px; width: 100%; margin-bottom:2%">
      <p class="model color" style="font-family: Chonburi; font-size: 30px; color: #464646; padding-left: 6%">DESIGN LOOQ</p>
      <a onclick="document.getElementById('tops').src=''; document.getElementById('bottoms').src=''; document.getElementById('shoes').src=''; document.getElementById('bags').src=''; document.getElementById('glasses').src='';"><i class="fa fa-trash-o" aria-hidden="true" title="Clear all" style="padding-left:34%;padding-top:1%"></i></a>
    </div>
    <div style="display: flex; width: 100%">
      <div class="img-container" style="width: 27%; margin-left: 10%; margin-top:-3%">
      <!--เสื้อ กางเกง ตัวหุ่น อยู่นี่ละจ้าา-->      
        <img id="tops" class="tops" src="" alt="" style="width: 100%; max-height: 632px; max-width: 311px;">
        <img id="bottoms" class="bottoms" src="" alt="" style="width: 100%; max-height: 632px; max-width: 311px;">
        <img class="modelbg" src="assets/images/model/modelN0.png" alt=""  style="width: 100%; max-height: 632px; max-width: 311px;">
        <img id="shadow" class="shadow" src="assets/images/model/shadow1.png" alt="" style="width: 100%; max-height: 632px; max-width: 311px;">
        <img id="glasses" class="glasses" src="" alt="" style="width: 100%; max-height: 632px; max-width: 311px;">
        <img id="shoes" class="shoes" src="" alt="" style="width: 100%; max-height: 632px; max-width: 311px;">
        <img id="bags" class="bags" src="" alt="" style="width: 100%; max-height: 632px; max-width: 311px;">
      </div>

      <div class="menu" style="width: 63%; padding-left:4%;">
        <!--tops-->
        <div class="shirt">
          <!--all tops-->
          <div id="alltops" class="tabcontent w3-animate-right style-4" style="width: 100%; padding-left:5%; margin-bottom:-65%; margin-top:-5%"><br>
            <div style="width: 5%; margin-right:5%">
              <div class="tab">
                <a class="tablinks" onclick="openCity(event, 'alltops')">
                  <div class="tabname" style="background-color:#424242; color:#fff">
                      A<br>
                      L<br>
                      L<br>
                  </div>
                </a>
                <a class="tablinks" onclick="openCity(event, 'blouses')">
                  <div class="tabname">
                      B<br>
                      L<br>
                      O<br>
                      U<br>
                      S<br>
                      E<br>
                      S<br>
                  </div>
                </a>
                <a class="tablinks" onclick="openCity(event, 'tanks')">
                  <div class="tabname">
                      T<br>
                      A<br>
                      N<br>
                      K<br>
                      S<br>
                  </div>
                </a>
                <a class="tablinks" onclick="openCity(event, 'dresses')">
                  <div class="tabname">
                      D<br>
                      R<br>
                      E<br>
                      S<br>
                      S<br>
                      E<br>
                      S<br>
                  </div>
                </a>
              </div>
            </div>
            <div class="tabclothes" style="width: 85%; margin-left:6%">
              <div style="text-align: right; padding-right: 6%; padding-top: 2%">
                <a onclick="document.getElementById('tops').src=''"><i class="fa fa-trash-o" aria-hidden="true" style="width:25px;" title="Clear top"></i></a>
                <a onclick="document.getElementById('alltops').style.display='none'" class="w3-bar-item w3-button w3-hover-black" title="Close"><p style="font-size:16px">x</p></a>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('tops').src='assets/images/clothes/model/model01.png'">
                    <img src="assets/images/clothes/menu/menu01.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('tops').src='assets/images/clothes/model/model02.png';">
                    <img src="assets/images/clothes/menu/menu02.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('tops').src='assets/images/clothes/model/model03.png';">
                    <img src="assets/images/clothes/menu/menu03.png" alt="image-1" style="height: 130px;">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('tops').src='assets/images/clothes/model/model05.png';">
                    <img src="assets/images/clothes/menu/menu05.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('tops').src='assets/images/clothes/model/model07.png';">
                    <img src="assets/images/clothes/menu/menu07.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('tops').src='assets/images/clothes/model/model12.png';">
                    <img src="assets/images/clothes/menu/menu12.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('tops').src='assets/images/clothes/model/model15.png';">
                    <img src="assets/images/clothes/menu/menu15.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('tops').src='assets/images/clothes/model/model30.png';">
                    <img src="assets/images/clothes/menu/menu30.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('tops').src='assets/images/clothes/model/model17.png';">
                    <img src="assets/images/clothes/menu/menu17.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <!-- Pagination -->
              <div class="w3-center w3-padding-32">
                <div class="w3-bar">
                  <br><br>
                  <a href="#!" class="w3-bar-item w3-button w3-hover-black">«</a>
                  <a href="#!" class="w3-bar-item w3-black w3-button">1</a>
                  <a href="#!" class="w3-bar-item w3-button w3-hover-black">2</a>
                  <a href="#!" class="w3-bar-item w3-button w3-hover-black">3</a>
                  <a href="#!" class="w3-bar-item w3-button w3-hover-black">4</a>
                  <a href="#!" class="w3-bar-item w3-button w3-hover-black">»</a>
                </div>
              </div>
            </div>
          </div>
          <!--blouses-->
          <div id="blouses" class="tabcontent style-4" style="width: 100%; padding-left:5%; margin-bottom:-65%; margin-top:-5%"><br>
            <div style="width: 5%; margin-right:5%">
              <div class="tab">
                <a class="tablinks" onclick="openCity(event, 'alltops')">
                  <div class="tabname">
                      A<br>
                      L<br>
                      L<br>
                  </div>
                </a>
                <a class="tablinks" onclick="openCity(event, 'blouses')">
                  <div class="tabname" style="background-color:#424242; color:#fff">
                      B<br>
                      L<br>
                      O<br>
                      U<br>
                      S<br>
                      E<br>
                      S<br>
                  </div>
                </a>
                <a class="tablinks" onclick="openCity(event, 'tanks')">
                  <div class="tabname">
                      T<br>
                      A<br>
                      N<br>
                      K<br>
                      S<br>
                  </div>
                </a>
                <a class="tablinks" onclick="openCity(event, 'dresses')">
                  <div class="tabname">
                      D<br>
                      R<br>
                      E<br>
                      S<br>
                      S<br>
                      E<br>
                      S<br>
                  </div>
                </a>
              </div>
            </div>
            <div class="tabclothes" style="width: 85%; margin-left:6%">
              <div style="text-align: right; padding-right: 6%; padding-top: 2%">
                <a onclick="document.getElementById('tops').src=''"><i class="fa fa-trash-o" aria-hidden="true" style="width:25px;" title="Clear top"></i></a>
                <a onclick="document.getElementById('blouses').style.display='none'" class="w3-bar-item w3-button w3-hover-black" title="Close"><p style="font-size:16px">x</p></a>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('tops').src='assets/images/clothes/model/model01.png'">
                    <img src="assets/images/clothes/menu/menu01.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('tops').src='assets/images/clothes/model/model05.png';">
                    <img src="assets/images/clothes/menu/menu05.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('tops').src='assets/images/clothes/model/model07.png';">
                    <img src="assets/images/clothes/menu/menu07.png" alt="image-1" style="height: 130px;">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('tops').src='assets/images/clothes/model/model12.png';">
                    <img src="assets/images/clothes/menu/menu12.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('tops').src='assets/images/clothes/model/model32.png';">
                    <img src="assets/images/clothes/menu/menu32.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('tops').src='assets/images/clothes/model/model75.png';">
                    <img src="assets/images/clothes/menu/menu75.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('tops').src='assets/images/clothes/model/model22.png';">
                    <img src="assets/images/clothes/menu/menu22.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('tops').src='assets/images/clothes/model/model77.png';">
                    <img src="assets/images/clothes/menu/menu77.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('tops').src='assets/images/clothes/model/model31.png';">
                    <img src="assets/images/clothes/menu/menu31.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <!-- Pagination -->
              <div class="w3-center w3-padding-32">
                <div class="w3-bar">
                  <br><br>
                  <a href="#!" class="w3-bar-item w3-button w3-hover-black">«</a>
                  <a href="#!" class="w3-bar-item w3-black w3-button">1</a>
                  <a href="#!" class="w3-bar-item w3-button w3-hover-black">2</a>
                  <a href="#!" class="w3-bar-item w3-button w3-hover-black">3</a>
                  <a href="#!" class="w3-bar-item w3-button w3-hover-black">4</a>
                  <a href="#!" class="w3-bar-item w3-button w3-hover-black">»</a>
                </div>
              </div>
            </div>
          </div>
          <!--tanks-->
          <div id="tanks" class="tabcontent style-4" style="width: 100%; padding-left:5%; margin-bottom:-65%; margin-top:-5%"><br>
            <div style="width: 5%; margin-right:5%">
              <div class="tab">
                <a class="tablinks" onclick="openCity(event, 'alltops')">
                  <div class="tabname">
                      A<br>
                      L<br>
                      L<br>
                  </div>
                </a>
                <a class="tablinks" onclick="openCity(event, 'blouses')">
                  <div class="tabname">
                      B<br>
                      L<br>
                      O<br>
                      U<br>
                      S<br>
                      E<br>
                      S<br>
                  </div>
                </a>
                <a class="tablinks" onclick="openCity(event, 'tanks')">
                  <div class="tabname" style="background-color:#424242; color:#fff">
                      T<br>
                      A<br>
                      N<br>
                      K<br>
                      S<br>
                  </div>
                </a>
                <a class="tablinks" onclick="openCity(event, 'dresses')">
                  <div class="tabname">
                      D<br>
                      R<br>
                      E<br>
                      S<br>
                      S<br>
                      E<br>
                      S<br>
                  </div>
                </a>
              </div>
            </div>
            <div class="tabclothes" style="width: 85%; margin-left:6%">
              <div style="text-align: right; padding-right: 6%; padding-top: 2%">
                <a onclick="document.getElementById('tops').src=''"><i class="fa fa-trash-o" aria-hidden="true" style="width:25px;" title="Clear top"></i></a>
                <a onclick="document.getElementById('tanks').style.display='none'" class="w3-bar-item w3-button w3-hover-black" title="Close"><p style="font-size:16px">x</p></a>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('tops').src='assets/images/clothes/model/model02.png'">
                    <img src="assets/images/clothes/menu/menu02.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('tops').src='assets/images/clothes/model/model03.png';">
                    <img src="assets/images/clothes/menu/menu03.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('tops').src='assets/images/clothes/model/model15.png';">
                    <img src="assets/images/clothes/menu/menu15.png" alt="image-1" style="height: 130px;">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('tops').src='assets/images/clothes/model/model17.png';">
                    <img src="assets/images/clothes/menu/menu17.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('tops').src='assets/images/clothes/model/model18.png';">
                    <img src="assets/images/clothes/menu/menu18.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('tops').src='assets/images/clothes/model/model21.png';">
                    <img src="assets/images/clothes/menu/menu21.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('tops').src='assets/images/clothes/model/model24.png';">
                    <img src="assets/images/clothes/menu/menu24.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('tops').src='assets/images/clothes/model/model25.png';">
                    <img src="assets/images/clothes/menu/menu25.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
               <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('tops').src='assets/images/clothes/model/model77.png';">
                    <img src="assets/images/clothes/menu/menu77.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <!-- Pagination -->
              <div class="w3-center w3-padding-32">
                <div class="w3-bar">
                  <br><br>
                  <a href="#!" class="w3-bar-item w3-button w3-hover-black">«</a>
                  <a href="#!" class="w3-bar-item w3-black w3-button">1</a>
                  <a href="#!" class="w3-bar-item w3-button w3-hover-black">2</a>
                  <a href="#!" class="w3-bar-item w3-button w3-hover-black">3</a>
                  <a href="#!" class="w3-bar-item w3-button w3-hover-black">4</a>
                  <a href="#!" class="w3-bar-item w3-button w3-hover-black">»</a>
                </div>
              </div>
            </div>
          </div>
          <!--dresses-->
          <div id="dresses" class="tabcontent style-4" style="width: 100%; padding-left:5%; margin-bottom:-65%; margin-top:-5%"><br>
            <div style="width: 5%; margin-right:5%">
              <div class="tab">
                <a class="tablinks" onclick="openCity(event, 'alltops')">
                  <div class="tabname">
                      A<br>
                      L<br>
                      L<br>
                  </div>
                </a>
                <a class="tablinks" onclick="openCity(event, 'blouses')">
                  <div class="tabname">
                      B<br>
                      L<br>
                      O<br>
                      U<br>
                      S<br>
                      E<br>
                      S<br>
                  </div>
                </a>
                <a class="tablinks" onclick="openCity(event, 'tanks')">
                  <div class="tabname">
                      T<br>
                      A<br>
                      N<br>
                      K<br>
                      S<br>
                  </div>
                </a>
                <a class="tablinks" onclick="openCity(event, 'dresses')">
                  <div class="tabname" style="background-color:#424242; color:#fff">
                      D<br>
                      R<br>
                      E<br>
                      S<br>
                      S<br>
                      E<br>
                      S<br>
                  </div>
                </a>
              </div>
            </div>
            <div class="tabclothes" style="width: 85%; margin-left:6%">
              <div style="text-align: right; padding-right: 6%; padding-top: 2%">
                <a onclick="document.getElementById('tops').src=''"><i class="fa fa-trash-o" aria-hidden="true" style="width:25px;" title="Clear top"></i></a>
                <a onclick="document.getElementById('dresses').style.display='none'" class="w3-bar-item w3-button w3-hover-black" title="Close"><p style="font-size:16px">x</p></a>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('tops').src='assets/images/clothes/model/model27.png'">
                    <img src="assets/images/clothes/menu/menu27.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('tops').src='assets/images/clothes/model/model28.png';">
                    <img src="assets/images/clothes/menu/menu28.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('tops').src='assets/images/clothes/model/model29.png';">
                    <img src="assets/images/clothes/menu/menu29.png" alt="image-1" style="height: 130px;">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('tops').src='assets/images/clothes/model/model30.png';">
                    <img src="assets/images/clothes/menu/menu30.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('tops').src='assets/images/clothes/model/model62.png';">
                    <img src="assets/images/clothes/menu/menu62.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('tops').src='assets/images/clothes/model/model63.png';">
                    <img src="assets/images/clothes/menu/menu63.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div style="height:450px;">
              </div>
              <!-- Pagination -->
              <div class="w3-center w3-padding-32">
                <div class="w3-bar">
                  <br><br>
                  <a href="#!" class="w3-bar-item w3-button w3-hover-black">«</a>
                  <a href="#!" class="w3-bar-item w3-black w3-button">1</a>
                  <a href="#!" class="w3-bar-item w3-button w3-hover-black">2</a>
                  <a href="#!" class="w3-bar-item w3-button w3-hover-black">3</a>
                  <a href="#!" class="w3-bar-item w3-button w3-hover-black">4</a>
                  <a href="#!" class="w3-bar-item w3-button w3-hover-black">»</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--bottoms-->
        <div class="shirt">
          <!--all bottoms-->
          <div id="allbottoms" class="tabcontent w3-animate-right style-4" style="width: 100%; padding-left:5%; margin-bottom:-65%; margin-top:-5%"><br>
            <div style="width: 5%; margin-right:5%">
              <div class="tab">
                <a class="tablinks" onclick="openCity(event, 'allbottoms')">
                  <div class="tabname" style="background-color:#424242; color:#fff">
                      A<br>
                      L<br>
                      L<br>
                  </div>
                </a>
                <a class="tablinks" onclick="openCity(event, 'pants')">
                  <div class="tabname">
                      P<br>
                      A<br>
                      N<br>
                      T<br>
                      S<br>
                  </div>
                </a>
                <a class="tablinks" onclick="openCity(event, 'shorts')">
                  <div class="tabname">
                      S<br>
                      H<br>
                      O<br>
                      R<br>
                      T<br>
                      S<br>
                  </div>
                </a>
                <a class="tablinks" onclick="openCity(event, 'skirts')">
                  <div class="tabname">
                      S<br>
                      K<br>
                      I<br>
                      R<br>
                      T<br>
                      S<br>
                  </div>
                </a>
              </div>
            </div>
            <div class="tabclothes" style="width: 85%; margin-left:6%">
              <div style="text-align: right; padding-right: 6%; padding-top: 2%">
                <a onclick="document.getElementById('bottoms').src=''"><i class="fa fa-trash-o" aria-hidden="true" style="width:25px;" title="Clear bottom"></i></a>
                <a onclick="document.getElementById('allbottoms').style.display='none'" class="w3-bar-item w3-button w3-hover-black" title="Close"><p style="font-size:16px">x</p></a>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('bottoms').src='assets/images/clothes/model/model04.png'">
                    <img src="assets/images/clothes/menu/menu04.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('bottoms').src='assets/images/clothes/model/model06.png'">
                    <img src="assets/images/clothes/menu/menu06.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('bottoms').src='assets/images/clothes/model/model08.png'">
                    <img src="assets/images/clothes/menu/menu08.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('bottoms').src='assets/images/clothes/model/model09.png'">
                    <img src="assets/images/clothes/menu/menu09.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('bottoms').src='assets/images/clothes/model/model10.png'">
                    <img src="assets/images/clothes/menu/menu10.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('bottoms').src='assets/images/clothes/model/model11.png'">
                    <img src="assets/images/clothes/menu/menu11.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('bottoms').src='assets/images/clothes/model/model23.png'">
                    <img src="assets/images/clothes/menu/menu23.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('bottoms').src='assets/images/clothes/model/model26.png'">
                    <img src="assets/images/clothes/menu/menu26.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('bottoms').src='assets/images/clothes/model/model33.png'">
                    <img src="assets/images/clothes/menu/menu33.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>              
              <!-- Pagination -->
              <div class="w3-center w3-padding-32">
                <div class="w3-bar">
                  <br><br>
                  <a href="#!" class="w3-bar-item w3-button w3-hover-black">«</a>
                  <a href="#!" class="w3-bar-item w3-black w3-button">1</a>
                  <a href="#!" class="w3-bar-item w3-button w3-hover-black">2</a>
                  <a href="#!" class="w3-bar-item w3-button w3-hover-black">3</a>
                  <a href="#!" class="w3-bar-item w3-button w3-hover-black">4</a>
                  <a href="#!" class="w3-bar-item w3-button w3-hover-black">»</a>
                </div>
              </div>
            </div>
          </div>
          <!--pants-->
          <div id="pants" class="tabcontent style-4" style="width: 100%; padding-left:5%; margin-bottom:-65%; margin-top:-5%"><br>
            <div style="width: 5%; margin-right:5%">
              <div class="tab">
                <a class="tablinks" onclick="openCity(event, 'allbottoms')">
                  <div class="tabname">
                      A<br>
                      L<br>
                      L<br>
                  </div>
                </a>
                <a class="tablinks" onclick="openCity(event, 'pants')">
                  <div class="tabname" style="background-color:#424242; color:#fff">
                      P<br>
                      A<br>
                      N<br>
                      T<br>
                      S<br>
                  </div>
                </a>
                <a class="tablinks" onclick="openCity(event, 'shorts')">
                  <div class="tabname">
                      S<br>
                      H<br>
                      O<br>
                      R<br>
                      T<br>
                      S<br>
                  </div>
                </a>
                <a class="tablinks" onclick="openCity(event, 'skirts')">
                  <div class="tabname">
                      S<br>
                      K<br>
                      I<br>
                      R<br>
                      T<br>
                      S<br>
                  </div>
                </a>
              </div>
            </div>
            <div class="tabclothes" style="width: 85%; margin-left:6%">
              <div style="text-align: right; padding-right: 6%; padding-top: 2%">
                <a onclick="document.getElementById('bottoms').src=''"><i class="fa fa-trash-o" aria-hidden="true" style="width:25px;" title="Clear bottom"></i></a>
                <a onclick="document.getElementById('pants').style.display='none'" class="w3-bar-item w3-button w3-hover-black" title="Close"><p style="font-size:16px">x</p></a>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('bottoms').src='assets/images/clothes/model/model04.png'">
                    <img src="assets/images/clothes/menu/menu04.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('bottoms').src='assets/images/clothes/model/model08.png'">
                    <img src="assets/images/clothes/menu/menu08.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('bottoms').src='assets/images/clothes/model/model09.png'">
                    <img src="assets/images/clothes/menu/menu09.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('bottoms').src='assets/images/clothes/model/model13.png'">
                    <img src="assets/images/clothes/menu/menu13.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('bottoms').src='assets/images/clothes/model/model19.png'">
                    <img src="assets/images/clothes/menu/menu19.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('bottoms').src='assets/images/clothes/model/model33.png'">
                    <img src="assets/images/clothes/menu/menu33.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('bottoms').src='assets/images/clothes/model/model50.png'">
                    <img src="assets/images/clothes/menu/menu50.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('bottoms').src='assets/images/clothes/model/model51.png'">
                    <img src="assets/images/clothes/menu/menu51.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('bottoms').src='assets/images/clothes/model/model52.png'">
                    <img src="assets/images/clothes/menu/menu52.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>             
              <!-- Pagination -->
              <div class="w3-center w3-padding-32">
                <div class="w3-bar">
                  <br><br>
                  <a href="#!" class="w3-bar-item w3-button w3-hover-black">«</a>
                  <a href="#!" class="w3-bar-item w3-black w3-button">1</a>
                  <a href="#!" class="w3-bar-item w3-button w3-hover-black">2</a>
                  <a href="#!" class="w3-bar-item w3-button w3-hover-black">3</a>
                  <a href="#!" class="w3-bar-item w3-button w3-hover-black">4</a>
                  <a href="#!" class="w3-bar-item w3-button w3-hover-black">»</a>
                </div>
              </div>
            </div>
          </div>
          <!--shorts-->
          <div id="shorts" class="tabcontent style-4" style="width: 100%; padding-left:5%; margin-bottom:-65%; margin-top:-5%"><br>
            <div style="width: 5%; margin-right:5%">
              <div class="tab">
                <a class="tablinks" onclick="openCity(event, 'allbottoms')">
                  <div class="tabname">
                      A<br>
                      L<br>
                      L<br>
                  </div>
                </a>
                <a class="tablinks" onclick="openCity(event, 'pants')">
                  <div class="tabname">
                      P<br>
                      A<br>
                      N<br>
                      T<br>
                      S<br>
                  </div>
                </a>
                <a class="tablinks" onclick="openCity(event, 'shorts')">
                  <div class="tabname" style="background-color:#424242; color:#fff">
                      S<br>
                      H<br>
                      O<br>
                      R<br>
                      T<br>
                      S<br>
                  </div>
                </a>
                <a class="tablinks" onclick="openCity(event, 'skirts')">
                  <div class="tabname">
                      S<br>
                      K<br>
                      I<br>
                      R<br>
                      T<br>
                      S<br>
                  </div>
                </a>
              </div>
            </div>
            <div class="tabclothes" style="width: 85%; margin-left:6%">
              <div style="text-align: right; padding-right: 6%; padding-top: 2%">
                <a onclick="document.getElementById('bottoms').src=''"><i class="fa fa-trash-o" aria-hidden="true" style="width:25px;" title="Clear bottom"></i></a>
                <a onclick="document.getElementById('shorts').style.display='none'" class="w3-bar-item w3-button w3-hover-black" title="Close"><p style="font-size:16px">x</p></a>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('bottoms').src='assets/images/clothes/model/model10.png'">
                    <img src="assets/images/clothes/menu/menu10.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('bottoms').src='assets/images/clothes/model/model20.png'">
                    <img src="assets/images/clothes/menu/menu20.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('bottoms').src='assets/images/clothes/model/model23.png'">
                    <img src="assets/images/clothes/menu/menu23.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('bottoms').src='assets/images/clothes/model/model40.png'">
                    <img src="assets/images/clothes/menu/menu40.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('bottoms').src='assets/images/clothes/model/model41.png'">
                    <img src="assets/images/clothes/menu/menu41.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('bottoms').src='assets/images/clothes/model/model47.png'">
                    <img src="assets/images/clothes/menu/menu47.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('bottoms').src='assets/images/clothes/model/model48.png'">
                    <img src="assets/images/clothes/menu/menu48.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('bottoms').src='assets/images/clothes/model/model49.png'">
                    <img src="assets/images/clothes/menu/menu49.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('bottoms').src='assets/images/clothes/model/model57.png'">
                    <img src="assets/images/clothes/menu/menu57.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>            
              <!-- Pagination -->
              <div class="w3-center w3-padding-32">
                <div class="w3-bar">
                  <br><br>
                  <a href="#!" class="w3-bar-item w3-button w3-hover-black">«</a>
                  <a href="#!" class="w3-bar-item w3-black w3-button">1</a>
                  <a href="#!" class="w3-bar-item w3-button w3-hover-black">2</a>
                  <a href="#!" class="w3-bar-item w3-button w3-hover-black">3</a>
                  <a href="#!" class="w3-bar-item w3-button w3-hover-black">4</a>
                  <a href="#!" class="w3-bar-item w3-button w3-hover-black">»</a>
                </div>
              </div>
            </div>
          </div>
          <!--skirts-->
          <div id="skirts" class="tabcontent style-4" style="width: 100%; padding-left:5%; margin-bottom:-65%; margin-top:-5%"><br>
            <div style="width: 5%; margin-right:5%">
              <div class="tab">
                <a class="tablinks" onclick="openCity(event, 'allbottoms')">
                  <div class="tabname">
                      A<br>
                      L<br>
                      L<br>
                  </div>
                </a>
                <a class="tablinks" onclick="openCity(event, 'pants')">
                  <div class="tabname">
                      P<br>
                      A<br>
                      N<br>
                      T<br>
                      S<br>
                  </div>
                </a>
                <a class="tablinks" onclick="openCity(event, 'shorts')">
                  <div class="tabname">
                      S<br>
                      H<br>
                      O<br>
                      R<br>
                      T<br>
                      S<br>
                  </div>
                </a>
                <a class="tablinks" onclick="openCity(event, 'skirts')">
                  <div class="tabname" style="background-color:#424242; color:#fff">
                      S<br>
                      K<br>
                      I<br>
                      R<br>
                      T<br>
                      S<br>
                  </div>
                </a>
              </div>
            </div>
            <div class="tabclothes" style="width: 85%; margin-left:6%">
              <div style="text-align: right; padding-right: 6%; padding-top: 2%">
                <a onclick="document.getElementById('bottoms').src=''"><i class="fa fa-trash-o" aria-hidden="true" style="width:25px;" title="Clear bottom"></i></a>
                <a onclick="document.getElementById('skirts').style.display='none'" class="w3-bar-item w3-button w3-hover-black" title="Close"><p style="font-size:16px">x</p></a>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('bottoms').src='assets/images/clothes/model/model06.png'">
                    <img src="assets/images/clothes/menu/menu06.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('bottoms').src='assets/images/clothes/model/model56.png'">
                    <img src="assets/images/clothes/menu/menu56.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('bottoms').src='assets/images/clothes/model/model59.png'">
                    <img src="assets/images/clothes/menu/menu59.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('bottoms').src='assets/images/clothes/model/model46.png'">
                    <img src="assets/images/clothes/menu/menu46.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('bottoms').src='assets/images/clothes/model/model38.png'">
                    <img src="assets/images/clothes/menu/menu38.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('bottoms').src='assets/images/clothes/model/model39.png'">
                    <img src="assets/images/clothes/menu/menu39.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('bottoms').src='assets/images/clothes/model/model42.png'">
                    <img src="assets/images/clothes/menu/menu42.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('bottoms').src='assets/images/clothes/model/model44.png'">
                    <img src="assets/images/clothes/menu/menu44.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('bottoms').src='assets/images/clothes/model/model45.png'">
                    <img src="assets/images/clothes/menu/menu45.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>            
              <!-- Pagination -->
              <div class="w3-center w3-padding-32">
                <div class="w3-bar">
                  <br><br>
                  <a href="#!" class="w3-bar-item w3-button w3-hover-black">«</a>
                  <a href="#!" class="w3-bar-item w3-black w3-button">1</a>
                  <a href="#!" class="w3-bar-item w3-button w3-hover-black">2</a>
                  <a href="#!" class="w3-bar-item w3-button w3-hover-black">3</a>
                  <a href="#!" class="w3-bar-item w3-button w3-hover-black">4</a>
                  <a href="#!" class="w3-bar-item w3-button w3-hover-black">»</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--shoes-->
        <div class="shirt">
          <!--all shoes-->
          <div id="allshoes" class="tabcontent w3-animate-right style-4" style="width: 100%; padding-left:5%; margin-bottom:-65%; margin-top:-5%"><br>
            <div style="width: 5%; margin-right:5%">
              <div class="tab">
                <a class="tablinks" onclick="openCity(event, 'allshoes')">
                  <div class="tabname" style="background-color:#424242; color:#fff">
                      S<br>
                      H<br>
                      O<br>
                      E<br>
                      S<br>
                  </div>
                </a>
              </div>
            </div>
            <div class="tabclothes" style="width: 85%; margin-left:6%">
              <div style="text-align: right; padding-right: 6%; padding-top: 2%">
                <a onclick="document.getElementById('shoes').src=''"><i class="fa fa-trash-o" aria-hidden="true" style="width:25px;" title="Clear shoes"></i></a>
                <a onclick="document.getElementById('allshoes').style.display='none'" class="w3-bar-item w3-button w3-hover-black" title="Close"><p style="font-size:16px">x</p></a>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('shoes').src='assets/images/clothes/model/model73.png'">
                    <img src="assets/images/clothes/menu/menu73.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('shoes').src='assets/images/clothes/model/model76.png'">
                    <img src="assets/images/clothes/menu/menu76.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('shoes').src='assets/images/clothes/model/model78.png'">
                    <img src="assets/images/clothes/menu/menu78.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('shoes').src='assets/images/clothes/model/model74.png'">
                    <img src="assets/images/clothes/menu/menu74.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div style="height:450px;">
              </div>
              <!-- Pagination -->
              <div class="w3-center w3-padding-32">
                <div class="w3-bar">
                  <br><br>
                  <a href="#!" class="w3-bar-item w3-button w3-hover-black">«</a>
                  <a href="#!" class="w3-bar-item w3-black w3-button">1</a>
                  <a href="#!" class="w3-bar-item w3-button w3-hover-black">2</a>
                  <a href="#!" class="w3-bar-item w3-button w3-hover-black">3</a>
                  <a href="#!" class="w3-bar-item w3-button w3-hover-black">4</a>
                  <a href="#!" class="w3-bar-item w3-button w3-hover-black">»</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--accessories-->
        <div class="shirt">
          <!--bags-->
          <div id="allbags" class="tabcontent w3-animate-right style-4" style="width: 100%; padding-left:5%; margin-bottom:-65%; margin-top:-5%"><br>
            <div style="width: 5%; margin-right:5%">
              <div class="tab">
                <a class="tablinks" onclick="openCity(event, 'allbags')">
                  <div class="tabname" style="background-color:#424242; color:#fff">
                      B<br>
                      A<br>
                      G<br>
                      S<br>
                  </div>
                </a>
                <a class="tablinks" onclick="openCity(event, 'allglasses')">
                  <div class="tabname">
                      G<br>
                      L<br>
                      A<br>
                      S<br>
                      S<br>
                      E<br>
                      S<br>
                  </div>
                </a>
              </div>
            </div>
            <div class="tabclothes" style="width: 85%; margin-left:6%">
              <div style="text-align: right; padding-right: 6%; padding-top: 2%">
                <a onclick="document.getElementById('bags').src=''"><i class="fa fa-trash-o" aria-hidden="true" style="width:25px;" title="Clear bag"></i></a>
                <a onclick="document.getElementById('allass').style.display='none'" class="w3-bar-item w3-button w3-hover-black" title="Close"><p style="font-size:16px">x</p></a>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('bags').src='assets/images/clothes/model/model64.png'">
                    <img src="assets/images/clothes/menu/menu64.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('bags').src='assets/images/clothes/model/model65.png'">
                    <img src="assets/images/clothes/menu/menu65.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('bags').src='assets/images/clothes/model/model66.png'">
                    <img src="assets/images/clothes/menu/menu66.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('bags').src='assets/images/clothes/model/model67.png'">
                    <img src="assets/images/clothes/menu/menu67.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('bags').src='assets/images/clothes/model/model68.png'">
                    <img src="assets/images/clothes/menu/menu68.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('bags').src='assets/images/clothes/model/model69.png'">
                    <img src="assets/images/clothes/menu/menu69.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('bags').src='assets/images/clothes/model/model70.png'">
                    <img src="assets/images/clothes/menu/menu70.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('bags').src='assets/images/clothes/model/model71.png'">
                    <img src="assets/images/clothes/menu/menu71.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('bags').src='assets/images/clothes/model/model72.png'">
                    <img src="assets/images/clothes/menu/menu72.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <!-- Pagination -->
              <div class="w3-center w3-padding-32">
                <div class="w3-bar">
                  <br><br>
                  <a href="#!" class="w3-bar-item w3-button w3-hover-black">«</a>
                  <a href="#!" class="w3-bar-item w3-black w3-button">1</a>
                  <a href="#!" class="w3-bar-item w3-button w3-hover-black">2</a>
                  <a href="#!" class="w3-bar-item w3-button w3-hover-black">3</a>
                  <a href="#!" class="w3-bar-item w3-button w3-hover-black">4</a>
                  <a href="#!" class="w3-bar-item w3-button w3-hover-black">»</a>
                </div>
              </div>
            </div>
          </div>
          <!--glasses-->
          <div id="allglasses" class="tabcontent style-4" style="width: 100%; padding-left:5%; margin-bottom:-65%; margin-top:-5%"><br>
            <div style="width: 5%; margin-right:5%">
              <div class="tab">
                <a class="tablinks" onclick="openCity(event, 'allbags')">
                  <div class="tabname">
                      B<br>
                      A<br>
                      G<br>
                      S<br>
                  </div>
                </a>
                <a class="tablinks" onclick="openCity(event, 'allglasses')">
                  <div class="tabname" style="background-color:#424242; color:#fff">
                      G<br>
                      L<br>
                      A<br>
                      S<br>
                      S<br>
                      E<br>
                      S<br>
                  </div>
                </a>
              </div>
            </div>
            <div class="tabclothes" style="width: 85%; margin-left:6%">
              <div style="text-align: right; padding-right: 6%; padding-top: 2%">
                <a onclick="document.getElementById('glasses').src=''"><i class="fa fa-trash-o" aria-hidden="true" style="width:25px;" title="Clear glasses"></i></a>
                <a onclick="document.getElementById('glasses').style.display='none'" class="w3-bar-item w3-button w3-hover-black" title="Close"><p style="font-size:16px">x</p></a>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('glasses').src='assets/images/clothes/model/model35.png'">
                    <img src="assets/images/clothes/menu/menu35.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('glasses').src='assets/images/clothes/model/model36.png'">
                    <img src="assets/images/clothes/menu/menu36.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('glasses').src='assets/images/clothes/model/model79.png'">
                    <img src="assets/images/clothes/menu/menu79.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div class="w3-third menuclothes"><br>
                <div class="w3-card-2 w3-padding-top">
                  <figure class="image is-1by2"></figure>
                  <a onclick="document.getElementById('glasses').src='assets/images/clothes/model/model80.png'">
                    <img src="assets/images/clothes/menu/menu80.png" alt="image-1" style="height: 130px">
                  </a>
                </div>
              </div>
              <div style="height:450px;">
              </div>
              <!-- Pagination -->
              <div class="w3-center w3-padding-32">
                <div class="w3-bar">
                  <br><br>
                  <a href="#!" class="w3-bar-item w3-button w3-hover-black">«</a>
                  <a href="#!" class="w3-bar-item w3-black w3-button">1</a>
                  <a href="#!" class="w3-bar-item w3-button w3-hover-black">2</a>
                  <a href="#!" class="w3-bar-item w3-button w3-hover-black">3</a>
                  <a href="#!" class="w3-bar-item w3-button w3-hover-black">4</a>
                  <a href="#!" class="w3-bar-item w3-button w3-hover-black">»</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="menuicon" style="width: 10%; padding-top: 1%; margin-right: 6%; margin-left:-6%">
        <div class="tabout">
          <a class="tablinks iconmenu" onclick="openCity(event, 'alltops'), openNav()">
              <img src="/assets/images/buttons/shirt.png" alt="" title="Tops"><br>
          </a>
          <a class="tablinks iconmenu" onclick="openCity(event, 'allbottoms'), openNav()">
              <img src="/assets/images/buttons/pants.png" alt="" title="Bottoms"><br>
          </a>
          <a class="tablinks iconmenu" onclick="openCity(event, 'allshoes'), openNav()">
              <img src="/assets/images/buttons/shoes.png" alt="" title="Shoes"><br>
          </a>
          <a class="tablinks iconmenu" onclick="openCity(event, 'allbags'), openNav()">
              <img src="/assets/images/buttons/ass.png" alt="" title="Accessories"><br>
          </a>
        </div>
      </div>
    </div>
    <div class="column has-text-centered" style="margin-top:20%">   
      <a class="button is-light" href="finished-looq" style="color: #ffffff; width: 90px; background-color: #e7c6c2;">DONE</a>
    </div>       
    <center>
      <div style="width: 300px; margin-bottom: 5%;">
        <p class="has-text-centered" style="font-size: 1rem; color:#424242;">By clicking on 'Done' above, you confirm that you're finished.</p>
      </div>
    </center>

    <script type="text/javascript">
        function openCity(evt, cityName) {
    	// Declare all variables
        var i, tabcontent, tablinks;

    	// Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
        }

    	// Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
      }

      function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
      }

    	/* Set the width of the side navigation to 0 */
      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
      }

    	// Show the current tab, and add an "active" class to the button that opened the tab
      document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
      }

      function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
      }

      function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
      }

  	</script>

{% endblock %}