{% extends 'layout/base.twig' %}

{% block title %} <title>Finished LOOQ</title> {% endblock %}

{% block stylesheet %} {% endblock %}

{% block style %}

	<style>
        .model { position: relative; }
        .model .skin {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 3;
        }
        .model .shadow {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
        }                
        .img-container .modelbg {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
        }
        .coloricon a:hover {
          cursor: pointer;
        }
        .button {
          border: solid 1px #999;

          -webkit-transition:0.7s;
          -moz-transition:0.7s;
          -o-transition:0.7s;

          filter: alpha(opacity=100);
          opacity:1.0;

          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
        }
        .button:hover {
          filter: alpha(opacity=70);
          opacity:.8;

          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          box-shadow: 0.1em 0.1em 0.2em #999;
          text-shadow: none;
        }
  </style>

{% endblock %}

{% block content1 %} {% endblock %}

{% block content2 %}

    <div class="topic" style="padding-top: 85px; width: 100%;">
      <p class="model color" style="font-family: Chonburi; font-size: 30px; color: #464646; padding-left: 6%">FINISH LOOQ</p>
    </div>
    <div class="model" style="width: 20%; height: 320px; text-align: center; margin: -20px auto auto auto; min-width: 170px ">
      <img id="model skin" class="skin" style="width: 100%; max-height: 632px; max-width: 311px;" src="/assets/images/model/mockup.png" alt="Create Model">
      <img id="model shadow" class="shadow" style="width: 100%; max-height: 632px; max-width: 311px;" src="assets/images/model/shadow1.png" alt="Shadow Model">
    </div>

          <div class="description" style="font-family: Mitr; font-size: 14px; margin-top:270px; text-align:center; color:#424242;">
              <p style="font-family:Chonburi; font-size:18px; margin-bottom:1%">OUTFIT DESCRIPTION<br></p>
              <p>TOPS : <a href="https://www.pradithofficial.com/p/334-one-shoulder-top-black/" target="_blank">One-Shoulder Top- Black</a> 3,625 ฿<br>
              BOTTOMS : <a href="http://shop.asavagroup.com/product/aap-246" target="_blank">AT THE BALLET - Navy</a> 5,990 ฿<br>
              SHOES : - <br>
              ACCESSORIES : <a href="https://www.pomelofashion.com/global/sunglasses/15502-jamiya-tinted-lens-aviator-sunglasses.html" target="_blank">Jamiyo Tinted Lens Aviotor Sungiasses</a> 340 ฿</p>
              <p style="font-family:Chonburi; font-size:18px; margin-top:1%">TOTAL PRICE : <font class="topic" color="#ed7263">9,955</font> ฿</p>
          </div>
    <div class="column has-text-centered" style="margin-bottom: -5%; margin-top: 1%">
      <a class="button is-light" href="#!" style="color: #ffffff; width: 90px; background-color: #e7c6c2;margin-bottom: 166px">DONE</a>
      <a class="button is-light" href="#!" style="color: #ffffff; width: 90px; background-color: #e7c6c2;margin-bottom: 166px">SAVE</a>
    </div>

{% endblock %}