{% extends 'layout/baseanimate.twig' %}

{% block title %} <title>LOOQ & STYLE</title> {% endblock %}

{% block stylesheet %}
    
    <link rel="stylesheet" type="text/css" href="css/personal.css" />
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/effect1.css" />
    <link rel="stylesheet" href="css/style.css">

{% endblock %}

{% block style %}

    <style>
      /* jssor slider loading skin spin css */
      .jssorl-009-spin img {
          animation-name: jssorl-009-spin;
          animation-duration: 1.6s;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
      }

      @keyframes jssorl-009-spin {
          from {
              transform: rotate(0deg);
          }

          to {
              transform: rotate(360deg);
          }
      }


      .jssorb051 .i {position:absolute;cursor:pointer;}
      .jssorb051 .i .b {fill:#fff;fill-opacity:0.5;}
      .jssorb051 .i:hover .b {fill-opacity:.7;}
      .jssorb051 .iav .b {fill-opacity: 1;}
      .jssorb051 .i.idn {opacity:.3;}

      .jssora051 {display:block;position:absolute;cursor:pointer;}
      .jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
      .jssora051:hover {opacity:.8;}
      .jssora051.jssora051dn {opacity:.5;}
      .jssora051.jssora051ds {opacity:.3;pointer-events:none;}

      .linkindex {
        color: gray !important;
      }

      .linkindex:hover {
        color: #999 !important;
      }
      .content img {
      filter: alpha(opacity=100);
      opacity:1.0;
      -webkit-transition:0.7s;
      -moz-transition:0.7s;
      -o-transition:0.7s;
      }
      .content img:hover {
        filter: alpha(opacity=70);
        opacity:.8;     
      }
    </style>

{% endblock %}

{% block content1 %}

    <!-- initial header -->
    <header class="ip-header">
      <h1 class="ip-logo">
      <svg class="ip-inner" width="20%" height="20%" viewBox="0 0 3967 1020" preserveAspectRatio="xMidYMin meet" aria-labelledby="logo_title">
      <title id="logo_title">LOOQ & STYLE IS LOADING</title>
      <g transform="translate(0.000000,1020.000000) scale(0.100000,-0.100000)"
      fill="#d7b3af" stroke="none">
      <path d="M0 5100 l0 -5100 19835 0 19835 0 0 5100 0 5100 -19835 0 -19835 0 0
      -5100z m39050 0 l0 -4480 -19215 0 -19215 0 0 4480 0 4480 19215 0 19215 0 0
      -4480z"/>
      <path d="M6940 6740 c-385 -42 -714 -184 -936 -405 -96 -95 -150 -172 -215
      -309 -95 -200 -138 -407 -146 -711 -18 -649 152 -1069 535 -1323 233 -155 495
      -237 837 -262 381 -29 749 32 1028 171 423 210 635 548 687 1095 37 398 -19
      793 -152 1063 -173 351 -542 589 -1034 667 -118 18 -482 27 -604 14z m450
      -150 c270 -90 376 -338 410 -955 19 -361 8 -831 -26 -1105 -61 -479 -228 -672
      -584 -672 -309 -1 -476 146 -555 490 -47 200 -70 579 -62 1022 6 345 16 485
      47 670 58 351 194 524 445 570 83 15 252 5 325 -20z"/>
      <path d="M10500 6739 c-283 -28 -550 -118 -756 -255 -280 -185 -446 -456 -516
      -845 -20 -109 -23 -158 -23 -404 0 -244 3 -295 22 -401 79 -437 271 -720 615
      -908 324 -176 780 -243 1237 -180 497 68 876 307 1058 669 113 223 174 572
      159 915 -13 310 -63 534 -164 735 -190 379 -602 621 -1146 674 -125 13 -361
      12 -486 0z m388 -135 c246 -50 372 -219 431 -576 73 -443 63 -1339 -19 -1685
      -81 -342 -246 -487 -555 -486 -235 0 -387 89 -480 280 -95 195 -135 521 -135
      1103 0 715 60 1048 221 1225 55 60 107 95 179 120 103 36 239 44 358 19z"/>
      <path d="M14110 6743 c-460 -44 -780 -178 -1017 -427 -231 -242 -332 -566
      -333 -1058 0 -379 55 -642 184 -873 187 -334 585 -558 1091 -615 118 -13 420
      -13 543 1 380 41 702 179 918 394 90 89 142 161 201 280 124 245 181 614 154
      985 -44 586 -248 926 -690 1145 -168 84 -387 142 -620 165 -95 9 -349 11 -431
      3z m338 -139 c246 -50 375 -223 431 -575 55 -343 63 -1041 16 -1446 -60 -511
      -243 -710 -635 -690 -335 16 -485 211 -546 707 -22 180 -31 879 -15 1116 27
      389 80 593 191 732 112 140 334 202 558 156z"/>
      <path d="M18785 6736 c-219 -33 -365 -92 -497 -200 -257 -213 -350 -603 -217
      -921 16 -39 49 -104 73 -145 43 -74 44 -75 23 -84 -202 -86 -306 -153 -427
      -275 -104 -104 -157 -191 -200 -326 -32 -99 -40 -345 -15 -466 20 -100 76
      -224 134 -297 74 -92 216 -183 361 -230 172 -56 421 -81 640 -63 269 22 441
      87 622 234 l57 46 101 -119 101 -120 590 0 589 0 0 48 0 49 -102 11 c-151 16
      -106 -25 -559 514 l-198 236 225 304 c300 404 287 391 397 402 31 3 82 9 112
      12 l55 5 0 45 0 44 -310 0 -310 0 0 -50 0 -49 94 -3 95 -3 -215 -300 c-118
      -165 -218 -301 -222 -303 -10 -3 -831 976 -909 1086 -120 167 -213 388 -213
      506 0 58 23 139 50 178 67 98 230 145 414 119 100 -14 169 -46 224 -102 57
      -58 88 -126 159 -341 l58 -179 65 3 64 3 53 280 c28 154 52 285 52 291 1 13
      -133 72 -234 104 -193 59 -575 86 -780 56z m-19 -2041 c269 -322 490 -589 491
      -593 4 -11 -111 -81 -185 -112 -82 -35 -217 -60 -321 -60 -302 1 -507 198
      -577 556 -26 133 -24 434 4 567 20 96 72 227 90 227 5 0 229 -263 498 -585z"/>
      <path d="M23435 6744 c-224 -18 -419 -65 -560 -134 -157 -77 -255 -170 -320
      -305 -60 -124 -70 -179 -70 -375 1 -199 12 -261 74 -395 109 -234 306 -378
      846 -620 536 -240 679 -356 715 -581 29 -179 -35 -325 -180 -407 -93 -52 -172
      -69 -345 -74 -241 -8 -396 28 -527 119 -149 105 -257 310 -317 603 l-18 90
      -59 0 -59 0 -51 -330 c-27 -181 -53 -349 -57 -372 l-7 -42 77 -29 c154 -59
      414 -117 668 -148 166 -21 526 -23 680 -5 507 60 784 229 890 542 25 74 29
      102 33 239 8 291 -49 457 -218 630 -128 131 -237 195 -830 488 -431 212 -526
      268 -603 351 -71 76 -99 144 -105 255 -3 77 -1 100 18 150 60 157 227 231 520
      230 248 -1 385 -48 516 -179 59 -59 80 -89 132 -195 34 -69 78 -174 98 -233
      l37 -108 61 3 60 3 48 300 c26 165 47 311 45 324 -2 21 -15 30 -87 59 -108 43
      -351 105 -500 127 -111 16 -487 28 -605 19z"/>
      <path d="M2732 6653 l3 -48 104 -22 c57 -13 112 -30 123 -39 17 -16 18 -67 18
      -1310 l0 -1294 -23 -14 c-12 -8 -68 -25 -125 -37 l-102 -22 0 -48 0 -49 1265
      0 1265 0 0 420 0 421 -66 -3 -66 -3 -44 -120 c-100 -272 -179 -395 -305 -478
      -125 -82 -219 -97 -621 -97 l-318 0 0 1279 c0 703 3 1293 6 1310 9 45 32 56
      162 83 l112 23 0 47 0 48 -696 0 -695 0 3 -47z"/>
      <path d="M25180 6274 l0 -425 50 3 51 3 58 147 c89 219 145 322 216 394 120
      120 235 163 453 171 l142 6 0 -1316 0 -1317 -23 -14 c-12 -8 -68 -25 -125 -37
      l-102 -22 0 -48 0 -49 685 0 685 0 0 48 0 49 -82 17 c-46 9 -98 22 -115 27
      -68 21 -63 -81 -63 1357 l0 1305 143 -6 c229 -8 325 -44 452 -172 91 -90 130
      -161 226 -407 l54 -137 53 -1 52 0 0 425 0 425 -1405 0 -1405 0 0 -426z"/>
      <path d="M28100 6655 c0 -51 -8 -47 130 -63 79 -10 87 -13 115 -45 17 -19 204
      -352 418 -739 l387 -704 0 -582 0 -582 -23 -14 c-12 -8 -68 -25 -125 -37
      l-102 -22 0 -48 0 -49 685 0 685 0 0 48 0 49 -87 18 c-117 24 -151 39 -163 70
      -6 16 -10 242 -10 595 l0 568 407 699 c223 384 416 710 427 725 29 36 51 45
      132 53 116 10 114 9 114 60 l0 45 -350 0 -350 0 0 -45 c0 -36 3 -45 18 -45 9
      0 59 -5 111 -10 112 -12 144 -28 139 -70 -4 -34 -730 -1282 -740 -1272 -10 10
      -665 1248 -673 1272 -12 39 18 57 108 65 118 9 117 9 117 61 l0 44 -685 0
      -685 0 0 -45z"/>
      <path d="M31190 6655 c0 -28 5 -47 13 -50 6 -2 56 -13 111 -25 60 -14 106 -30
      117 -41 18 -18 19 -56 19 -1291 0 -700 -3 -1283 -6 -1295 -7 -27 -53 -46 -167
      -68 l-87 -18 0 -48 0 -49 1265 0 1265 0 0 420 0 420 -63 0 -62 0 -43 -117
      c-24 -65 -68 -169 -98 -231 -88 -182 -198 -277 -379 -329 -50 -14 -120 -17
      -412 -21 l-353 -4 0 1304 c0 1028 3 1308 13 1321 11 15 104 43 217 64 l45 9 3
      47 3 47 -700 0 -701 0 0 -45z"/>
      <path d="M33982 6653 l3 -48 105 -23 c57 -13 113 -30 122 -39 17 -15 18 -84
      18 -1305 0 -1228 -1 -1289 -18 -1306 -11 -11 -61 -28 -125 -42 l-107 -23 0
      -49 0 -48 1315 0 1315 0 0 420 0 420 -57 0 -58 0 -29 -83 c-112 -321 -211
      -468 -371 -546 -123 -61 -151 -64 -597 -68 l-408 -4 0 645 0 646 540 0 540 0
      0 70 0 70 -540 0 -540 0 0 616 0 617 373 -6 c405 -6 466 -13 582 -66 155 -71
      248 -202 351 -496 l42 -120 56 -3 56 -3 0 411 0 410 -1286 0 -1285 0 3 -47z"/>
      <path d="M13760 3609 c-134 -23 -310 -150 -310 -223 l0 -34 68 -7 c277 -27
      430 -81 812 -293 215 -119 371 -187 462 -202 39 -7 116 -10 172 -8 92 3 107 7
      164 38 80 42 139 109 196 220 75 145 160 401 140 419 -5 5 -27 12 -50 16 -40
      6 -41 6 -88 -54 -26 -34 -68 -73 -92 -87 -45 -26 -48 -27 -172 -21 -151 7
      -229 23 -593 122 -152 41 -319 84 -370 94 -116 24 -266 33 -339 20z"/>
      </g>
      </svg>
      </h1>
      <div class="ip-loader">
      <svg class="ip-inner" width="60px" height="60px" viewBox="0 0 80 80">
          <path class="ip-loader-circlebg" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
          <path id="ip-loader-circle" class="ip-loader-circle" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
      </svg>
      </div>
    </header>

{% endblock %}

{% block content2 %}

  <div style="background-color: transparent"></div>
  <div style="background-color: #f0f0f0;width: 100%;height: 100%;overflow: hidden">
    <div id="jssor_1" style="position:relative;margin:0 auto;top:49px;left:0px;width:1600.5px;height:500px;visibility:hidden;">
    <!-- Loading Screen -->
      <div data-u="loading" class="jssorl-009-spin" style="position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);">
        <img style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;" src="assets/images/Carousel/spin.svg" />
      </div>
      <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:1600.5px;height:500px;overflow:hidden;">
        <div>
          <a style="cursor:pointer"><img data-u="image" src="assets/images/home/car1.png" /></a>
        </div>
        <div>
          <a href="winter-is-coming"><img data-u="image" src="assets/images/home/car2.png" /></a>
        </div>
        <div>
          <a href="spring-summer-2018"><img data-u="image" src="assets/images/home/car3.png" /></a>
        </div>
        <div>
          <a href="new-collection"><img data-u="image" src="assets/images/home/car4.png" /></a>
        </div>
      </div>
      <div data-u="navigator" class="jssorb051" style="position:absolute;bottom:12px;right:12px;" data-autocenter="1" data-scale="0.5" data-scale-bottom="0.75">
        <div data-u="prototype" class="i" style="width:16px;height:16px;">
          <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
            <circle class="b" cx="8000" cy="8000" r="5800"></circle>
          </svg>
        </div>
      </div>

      <!-- Arrow Navigator -->
      <div data-u="arrowleft" class="jssora051" style="width:55px;height:55px;top:0px;left:25px;" data-autocenter="2" data-scale="0.75" data-scale-left="0.75">
        <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
          <polyline class="a" points="11040,1920 4960,8000 11040,14080 "></polyline>
        </svg>
      </div>
      <div data-u="arrowright" class="jssora051" style="width:55px;height:55px;top:0px;right:25px;" data-autocenter="2" data-scale="0.75" data-scale-right="0.75">
        <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
            <polyline class="a" points="4960,1920 11040,8000 4960,14080 "></polyline>
        </svg>
      </div>
    </div>

    <div style="width: 100%;height: auto;margin-top: 90px; display: flex;margin-left: 8%; margin-right: 10%;">
      <p>
        <font class="topic" style="font-family: Chonburi;font-size: 32px; color: #424242">LOOQ </font>
        <b><font style="font-size:17px; color:#424242;"> / lastest LOOQ from users</font></b>
      </p>
    </div>

    <!-- #endregion Jssor Slider End -->
    <hr>
    <div class="w3-row-padding content" style="margin-top: 3%;margin-left: 8%;margin-right: 8%;">
      <div class="w3-third" style="padding-bottom: 20px;">
        <div class="w3-card-1 w3-border container w3-third" style="width:100%;">
          <img src="/assets/images/Finish/finish01.png" style="width:100%;padding-right: 20%;padding-left: 20%;">
            <div class="overlay">
              <div class="image-popup">
                <img src="/assets/images/profile/bar.png" alt="" width="100%">
              </div>
              <a href="#!">
                <div class="image-popup" style="padding-left: 60%">
                  STYLE / ...........
                </div>
              </a>
            </div>
        </div>
      </div>
      <div class="w3-third" style="padding-bottom: 20px;">
        <div class="w3-card-1 w3-border container w3-third" style="width:100%;">
          <img src="/assets/images/Finish/finish02.png" style="width:100%;padding-right: 20%;padding-left: 20%;">
            <div class="overlay">
              <div class="image-popup">
                <img src="/assets/images/profile/bar.png" alt="" width="100%">
              </div>
              <a href="#!">
                <div class="image-popup" style="padding-left: 60%">
                  STYLE / ...........
                </div>
              </a>
            </div>
        </div>
      </div>
      <div class="w3-third" style="padding-bottom: 20px;">
        <div class="w3-card-1 w3-border container w3-third" style="width:100%;">
          <img src="/assets/images/Finish/finish03.png" style="width:100%;padding-right: 20%;padding-left: 20%;">
            <div class="overlay">
              <div class="image-popup">
                <img src="/assets/images/profile/bar.png" alt="" width="100%">
              </div>
              <a href="#!">
                <div class="image-popup" style="padding-left: 60%">
                  STYLE / ...........
                </div>
              </a>
            </div>
        </div>
      </div>
      <div class="w3-third" style="padding-bottom: 20px;">
        <div class="w3-card-1 w3-border container w3-third" style="width:100%;">
          <img src="/assets/images/Finish/finish04.png" style="width:100%;padding-right: 20%;padding-left: 20%;">
            <div class="overlay">
              <div class="image-popup">
                <img src="/assets/images/profile/bar.png" alt="" width="100%">
              </div>
              <a href="#!">
                <div class="image-popup" style="padding-left: 60%">
                  STYLE / ...........
                </div>
              </a>
            </div>
        </div>
      </div>
      <div class="w3-third" style="padding-bottom: 20px;">
        <div class="w3-card-1 w3-border container w3-third" style="width:100%;">
          <img src="/assets/images/Finish/finish05.png" style="width:100%;padding-right: 20%;padding-left: 20%;">
            <div class="overlay">
              <div class="image-popup">
                <img src="/assets/images/profile/bar.png" alt="" width="100%">
              </div>
              <a href="#!">
                <div class="image-popup" style="padding-left: 60%">
                  STYLE / ...........
                </div>
              </a>
            </div>
        </div>
      </div>
      <div class="w3-third" style="padding-bottom: 20px;">
        <div class="w3-card-1 w3-border container w3-third" style="width:100%;">
          <img src="/assets/images/Finish/finish06.png" style="width:100%;padding-right: 20%;padding-left: 20%;">
            <div class="overlay">
              <div class="image-popup">
                <img src="/assets/images/profile/bar.png" alt="" width="100%">
              </div>
              <a href="#!">
                <div class="image-popup" style="padding-left: 60%">
                  STYLE / ...........
                </div>
              </a>
            </div>
        </div>
      </div>
      <div class="w3-third" style="padding-bottom: 20px;">
        <div class="w3-card-1 w3-border container w3-third" style="width:100%;">
          <img src="/assets/images/Finish/finish07.png" style="width:100%;padding-right: 20%;padding-left: 20%;">
            <div class="overlay">
              <div class="image-popup">
                <img src="/assets/images/profile/bar.png" alt="" width="100%">
              </div>
              <a href="#!">
                <div class="image-popup" style="padding-left: 60%">
                  STYLE / ...........
                </div>
              </a>
            </div>
        </div>
      </div>
      <div class="w3-third" style="padding-bottom: 20px;">
        <div class="w3-card-1 w3-border container w3-third" style="width:100%;">
          <img src="/assets/images/Finish/finish08.png" style="width:100%;padding-right: 20%;padding-left: 20%;">
            <div class="overlay">
              <div class="image-popup">
                <img src="/assets/images/profile/bar.png" alt="" width="100%">
              </div>
              <a href="#!">
                <div class="image-popup" style="padding-left: 60%">
                  STYLE / ...........
                </div>
              </a>
            </div>
        </div>
      </div>
      <div class="w3-third" style="padding-bottom: 20px;">
        <div class="w3-card-1 w3-border container w3-third" style="width:100%;">
          <img src="/assets/images/Finish/finish09.png" style="width:100%;padding-right: 20%;padding-left: 20%;">
            <div class="overlay">
              <div class="image-popup">
                <img src="/assets/images/profile/bar.png" alt="" width="100%">
              </div>
              <a href="#!">
                <div class="image-popup" style="padding-left: 60%">
                  STYLE / ...........
                </div>
              </a>
            </div>
        </div>
      </div>

        <div class="w3-center w3-padding-32" style="text-align: center;">
          <div class="w3-bar">
            <a href="#!" class="w3-bar-item w3-button w3-hover-black">«</a>
            <a href="#!" class="w3-bar-item w3-black w3-button">1</a>
            <a href="#!" class="w3-bar-item w3-button w3-hover-black">2</a>
            <a href="#!" class="w3-bar-item w3-button w3-hover-black">3</a>
            <a href="#!" class="w3-bar-item w3-button w3-hover-black">4</a>
            <a href="#!" class="w3-bar-item w3-button w3-hover-black">»</a>
          </div>
        </div>
    </div>
</div>

    
    <script src="js/jquery-1.11.3.min.js" type="text/javascript"></script>
    <script src="js/jssor.slider-26.5.0.min.js" type="text/javascript"></script>
    <script> 
      //ตั้งเวลาโชว์หน้าเว็บ
      var myVar;

      function myFunction() {
          myVar = setTimeout(showPage, 3500);
      }

      function showPage() {
        document.getElementById("loader").style.display = "none";
        document.getElementById("Content").style.display = "block";
      }

      /*ม้าหมุน*/
      jQuery(document).ready(function ($) {

        var jssor_1_SlideshowTransitions = [
          {$Duration:800,$Opacity:2}
        ];

        var jssor_1_options = {
          $AutoPlay: 1,
          $Align: 0,
          $SlideshowOptions: {
            $Class: $JssorSlideshowRunner$,
            $Transitions: jssor_1_SlideshowTransitions,
            $TransitionsOrder: 1
          },
          $ArrowNavigatorOptions: {
            $Class: $JssorArrowNavigator$
          },
          $BulletNavigatorOptions: {
            $Class: $JssorBulletNavigator$
          }
        };

        var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

        /*#region responsive code begin*/

        var MAX_WIDTH = 1644.5;

        function ScaleSlider() {
            var containerElement = jssor_1_slider.$Elmt.parentNode;
            var containerWidth = containerElement.clientWidth;

            if (containerWidth) {

                var expectedWidth = Math.min(MAX_WIDTH || containerWidth, containerWidth);

                jssor_1_slider.$ScaleWidth(expectedWidth);
            }
            else {
                window.setTimeout(ScaleSlider, 30);
            }
        }

        ScaleSlider();

        $(window).bind("load", ScaleSlider);
        $(window).bind("resize", ScaleSlider);
        $(window).bind("orientationchange", ScaleSlider);
        /*#endregion responsive code end*/
      });
    </script>

{% endblock %}