{% extends 'layout/base.twig' %}

{% block title %} <title>New Collection : September - December</title> {% endblock %}

{% block stylesheet %} {% endblock %}

{% block style %} 

	<style>
	    .img {
	      width: 100%;
	      height:auto;
	    }
	    .topic {
	      filter: alpha(opacity=100);
	      opacity:1.0;
	      -webkit-transition:0.7s;
	      -moz-transition:0.7s;
	      -o-transition:0.7s;
	    }
	    .topic:hover {
	        filter: alpha(opacity=70);
	        opacity:.8;
	        cursor: text;
	    }
	    .content img {
	      filter: alpha(opacity=100);
	      opacity:1.0;
	      -webkit-transition:0.7s;
	      -moz-transition:0.7s;
	      -o-transition:0.7s;
	      border-radius: 0px 0px 0px 0px;
	    }
	    .content img:hover {
	      filter: alpha(opacity=70);
	      opacity:.8;
	      border-radius: 20px 20px 20px 20px;
	      -webkit-transition: 0.9s
	      -moz-transition:0.9s;
	      
	    }
	    .content a{
	      color: #976f6c !important;
	    }
	    .content a:hover{
	      color: #f8b2a9 !important;
	    }
	</style>

{% endblock %}

{% block content %} 

  	<!--text headder-->
  	<div class="content">
	    <!--text headder-->
	    <div class="topic" style="padding-top: 85px; width: 100%; display: flex; margin-bottom: 3%">
	        <p style="font-family: Chonburi; font-size: 2.5vw; color: #464646; padding-left: 6%">NEW COLLECTION </p>
	    </div>

	    <!--text-->
	    <p class="card-text" style="padding-left: 10%;font-size: 1.1vw; padding-bottom: 0.5%">
	          รายละเอียดชุดใหม่ที่เพิ่มใน
	      <font style="font-family: Chonburi;color: #976f6c">
	            LOOQ&STYLE
	      </font> ประจำช่วงเดือน ก.ย. – ธ.ค.
	    </p>

	  	<!--TOPS-->
	    <p class="topic card-text" style="font-family: Chonburi; padding-left: 6%; font-size: 1.3vw; color: #976f6c; margin-bottom: -1.5%">
	      <u>TOPS</u>
	    </p>
	    <div class="w3-content" style="max-width:1200px; margin-bottom:3%" >
	      <div class="w3-row-padding w3-center w3-margin-top" style="font-size: 14px;">
	          <div class="w3-quarter">
	            <figure class="image is-1by2"></figure>
	            <div class="w3-card-2 w3-padding-top " style="min-height:350px; background-color: #ffffff;">
	              <img src="assets/images/content/spring/c1.png" alt="image-1" style="height: 250px">
	              <p><a href="https://www.pradithofficial.com/p/310-lavender-top/" target="_blank">LAVENDER TOP</a></p>
	              <p>Brand : Pradith</p> 
	              <big>2,500 ฿</big>
	              <br><br><br>
	            </div><br>
	          </div>

	          <div class="w3-quarter">
	            <figure class="image is-1by2"></figure>
	            <div class="w3-card-2 w3-padding-top " style="min-height:350px; background-color: #ffffff;">
	              <img src="assets/images/content/spring/c2.jpg" alt="image-1" style="height: 250px">
	              <p><a href="https://milin.com/shop/taylor-top/" target="_blank">TAYLOR TOP</a></p>
	              <p>Brand : Milin</p> 
	              <big>1,370 ฿</big>
	              <br><br><br>
	            </div><br>
	          </div>

	          <div class="w3-quarter">
	            <figure class="image is-1by2"></figure>
	            <div class="w3-card-2 w3-padding-top " style="min-height:350px; background-color: #ffffff;">
	              <img src="assets/images/content/spring/c3.png" alt="image-1" style="height: 250px">
	              <p><a href="https://www.pomelofashion.com/th/en/tops/14763-preeya-choker-collar-tank-top.html" target="_blank">Preeya Choker Collar Tank Top</a></p>
	              <p>Brand : Pomelo</p> 
	              <big>790 ฿</big>
	              <br><br><br>
	            </div><br>
	          </div>

	          <div class="w3-quarter">
	            <figure class="image is-1by2"></figure>
	            <div class="w3-card-2 w3-padding-top " style="min-height:350px; background-color: #ffffff;">
	              <img src="assets/images/content/spring/c4.png" alt="image-1" style="height: 250px">
	              <p><a href="https://www.pomelofashion.com/th/en/tops/14438-mai-one-shoulder-ruffle-top---red.html" target="_blank">Mai One Shoulder Ruffle Top - Red</a></p>
	              <p>Brand : Pomelo</p> 
	              <big>693 ฿</big>
	              <br><br><br>
	            </div><br>
	          </div>
	      </div>
	    </div>
	  

		<!--BOTTOMS -->
	  	<p class="topic card-text" style="font-family: Chonburi; padding-left: 6%; font-size: 1.3vw; color: #976f6c; margin-bottom: -1.5%">
	      <u>BOTTOMS</u>
	    </p>
	    <div class="w3-content" style="max-width:1200px; margin-bottom:3%" >
	      <div class="w3-row-padding w3-center w3-margin-top" style="font-size: 14px;">
	          <div class="w3-quarter">
	            <figure class="image is-1by2"></figure>
	            <div class="w3-card-2 w3-padding-top " style="min-height:350px; background-color: #ffffff;">
	              <img src="assets/images/content/spring/c5.jpg" alt="image-1" style="height: 250px">
	              <p><a href="https://www.pradithofficial.com/p/314-lavender-mini-skirt/" target="_blank">LAVENDER MINI SKIRT</a></p>
	              <p>Brand : Pradith</p> 
	              <big>2,500 ฿</big>
	              <br><br><br>
	            </div><br>
	          </div>

	          <div class="w3-quarter">
	            <figure class="image is-1by2"></figure>
	            <div class="w3-card-2 w3-padding-top " style="min-height:350px; background-color: #ffffff;">
	              <img src="assets/images/content/spring/c6.jpg" alt="image-1" style="height: 250px">
	              <p><a href="https://milin.com/shop/tundra-shorts/" target="_blank">TUNDRA SHORTS</a></p>
	              <p>Brand : Milin</p> 
	              <big>3,425 ฿</big>
	              <br><br><br>
	            </div><br>
	          </div>
	      </div>
	    </div>

	  	<!--DRESS-->
	    <p class="topic card-text" style="font-family: Chonburi; padding-left: 6%; font-size: 1.3vw; color: #976f6c; margin-bottom: -1.5%">
	      <u>DRESS</u>
	    </p>
	    <div class="w3-content" style="max-width:1200px; margin-bottom:3%" >
	      <div class="w3-row-padding w3-center w3-margin-top" style="font-size: 14px;">
	          <div class="w3-quarter">
	            <figure class="image is-1by2"></figure>
	            <div class="w3-card-2 w3-padding-top " style="min-height:350px; background-color: #ffffff;">
	              <img src="assets/images/content/spring/c7.png" alt="image-1" style="height: 250px">
	              <p><a href="http://shop.asavagroup.com/product/aad-326" target="_blank">AT THE BALLET aad-326</a></p>
	              <p>Brand : Asava</p> 
	              <big>9,292 ฿</big>
	              <br><br><br>
	            </div><br>
	          </div>
	      </div>
	    </div>

	  	<!--SHOES-->
	    <p class="topic card-text" style="font-family: Chonburi; padding-left: 6%; font-size: 1.3vw; color: #976f6c; margin-bottom: -1.5%">
	      <u>SHOES</u>
	    </p>
	    <div class="w3-content" style="max-width:1200px; margin-bottom:3%" >
	      <div class="w3-row-padding w3-center w3-margin-top" style="font-size: 14px;">
	          <div class="w3-quarter">
	            <figure class="image is-1by2"></figure>
	            <div class="w3-card-2 w3-padding-top " style="min-height:350px; background-color: #ffffff;">
	              <img src="assets/images/content/spring/c8.png" alt="image-1" style="height: 250px">
	              <p><a href="https://www.pomelofashion.com/th/en/shoes/15540-be-mine-high-heels.html" target="_blank">Be Mine High Heels</a></p>
	              <p>Brand : Pomelo</p> 
	              <big>2,290 ฿</big>
	              <br><br><br>
	            </div><br>
	          </div>

	          <div class="w3-quarter">
	            <figure class="image is-1by2"></figure>
	            <div class="w3-card-2 w3-padding-top " style="min-height:350px; background-color: #ffffff;">
	              <img src="assets/images/content/spring/c9.jpg" alt="image-1" style="height: 250px">
	              <p><a href="https://www.pomelofashion.com/th/en/shoes/15551-serenity-high-heels---beige.html" target="_blank">Serenity High Heels - Beige</a></p>
	              <p>Brand : Pomelo</p> 
	              <big>2,790 ฿</big>
	              <br><br><br>
	            </div><br>
	          </div>
	      </div>
	    </div>

	  	<!--BAGS-->
	    <p class="topic card-text" style="font-family: Chonburi; padding-left: 6%; font-size: 1.3vw; color: #976f6c; margin-bottom: -1.5%">
	      <u>BAGS</u>
	    </p>
	    <div class="w3-content" style="max-width:1200px;margin-bottom:4%" >
	      <div class="w3-row-padding w3-center w3-margin-top" style="font-size: 14px;">
	          <div class="w3-quarter">
	            <figure class="image is-1by2"></figure>
	            <div class="w3-card-2 w3-padding-top " style="min-height:350px; background-color: #ffffff;">
	              <img src="assets/images/content/spring/c10.jpg" alt="image-1" style="height: 250px">
	              <p><a href="https://www.oandb.store/grace-clutch-bag-in-yellow-mustard.html" target="_blank" target="_blank">GRACE CLUTCH BAG <br>IN YELLOW MUSTARD</a></p>
	              <p>Brand : O&B</p> 
	              <big>1,701 ฿</big>
	              <br><br>
	            </div><br>
	          </div>

	          <div class="w3-quarter">
	            <figure class="image is-1by2"></figure>
	            <div class="w3-card-2 w3-padding-top " style="min-height:350px; background-color: #ffffff;">
	              <img src="assets/images/content/spring/c11.jpg" alt="image-1" style="height: 250px">
	              <p><a href="https://www.oandb.store/all-bags/grace-clutch-bag-in-french-blue.html" target="_blank">GRACE CLUTCH BAG <br>IN FRENCH BLUE</a><br></p>
	              <p>Brand : O&B</p> 
	              <big>1,701 ฿</big>
	              <br><br>
	            </div><br>
	          </div>
	      </div>
	    </div>
  	</div>

{% endblock %}