{% extends 'layout/base.twig' %}

{% block title %} <title>Clothes » Bottoms » Skirts</title> {% endblock %}

{% block stylesheet %} {% endblock %}

{% block style %}

	<style>
        .w3-content a{
          color: #976f6c !important;
        }
        .w3-content a:hover{
          color: #f8b2a9 !important;
        }
        .w3-content img {
          filter: alpha(opacity=100);
          opacity:1.0;
          -webkit-transition:0.7s;
          -moz-transition:0.7s;
          -o-transition:0.7s;
        }
        .w3-content img:hover {
          filter: alpha(opacity=70);
          opacity:.8;
        }
  </style>

{% endblock %}

{% block content1 %} {% endblock %}

{% block content2 %}

	<div class="w3-content"  style="max-width:1200px; padding-top: 50px; color:#424242" >
      <div class="w3-padding-32">
        <div class="w3-container">
          <div class="w3-border" style="background-color: #fff;">
            <button class="w3-button w3-white ">
              <a href="all-clothes">All</a>
            </button>
            <li class="w3-dropdown-hover">
              <button class="w3-button w3-white">
                <a href="all-tops">Tops <i class="fa fa-caret-down w3-margin-left"></i></a>
                  <div class="w3-dropdown-content w3-white w3-card-4">
                    <a href="blouses">Blouses</a><br>
                    <a href="tanks">Tanks</a><br>
                  </div>
              </button>
            </li>
            <li class="w3-dropdown-hover">
              <button class="w3-button w3-white">
                <a href="all-bottoms">Bottoms <i class="fa fa-caret-down w3-margin-left"></i></a>
                  <div class="w3-dropdown-content w3-white w3-card-4">
                    <a href="pants">Pants</a><br>
                    <a href="shorts">Shorts</a><br>
                    <a href="skirts">Skirts</a><br>
                </div>
              </button>
            </li>
            <button class="w3-button w3-white w3-hide-small">
              <a href="dresses">Dresses</a>
            </button>
            <button class="w3-button w3-white w3-hide-small">
              <a href="shoes">Shoes</a>
            </button>
            <li class="w3-dropdown-hover">
              <button class="w3-button w3-white"><a href="all-accessories">Accessories<i class="fa fa-caret-down w3-margin-left"></i></a>
                <div class="w3-dropdown-content w3-white w3-card-4">
                  <a href="bags">Bags</a><br>
                  <a href="socks">Socks</a><br>
                </div>
              </button>
            </li>
          </div>
        </div>
      </div>

      <div class="w3-row-padding w3-center w3-margin-top" style="font-size: 14px;">
        <div class="w3-quarter">
          <figure class="image is-1by2"></figure>
          <div class="w3-card-2 w3-padding-top " style="min-height:350px; background-color: #ffffff;">
            <img src="assets/images/looq/skirt1.jpg" alt="image-1" style="height: 250px"><br><br>
            <p><a href="https://www.pradithofficial.com/p/314-lavender-mini-skirt/" target="_blank">Lavender Mini Skirt</a></p>
            <big>2,500 ฿</big>
            <br>
          </div><br>
        </div>

        <div class="w3-quarter">
          <div class="w3-card-2 w3-padding-top" style="min-height:350px; background-color: #ffffff;">
            <figure class="image is-1by2"></figure>
            <img src="assets/images/looq/skirt2.jpg" alt="image-1" style="height: 250px"><br><br>
            <p><a href="https://milin.com/shop/xerese-skirt/" target="_blank">Xerese Skirt</a></p>
            <big>7,950 ฿</big>
            <br>
          </div><br>
        </div>

        <div class="w3-quarter">
          <div class="w3-card-2 w3-padding-top" style="min-height:350px; background-color: #ffffff;">
            <figure class="image is-1by2"></figure>
            <img src="assets/images/looq/skirt3.jpg" alt="image-1" style="height: 250px"><br><br>
            <p><a href="https://milin.com/shop/fireblend-skirt/" target="_blank">Fireblend Skirt</a></p>
            <big>3,700 ฿</big>
            <br>
          </div><br>
        </div>

        <div class="w3-quarter">
          <div class="w3-card-2 w3-padding-top" style="min-height:350px; background-color: #ffffff;">
            <figure class="image is-1by2"></figure>
            <img src="assets/images/looq/skirt4.jpg" alt="image-1" style="height: 250px"><br><br>
            <p><a href="https://milin.com/shop/jaguar-skirt/" target="_blank">Jagnar Skirt</a></p>
            <big>2,795 ฿</big>
            <br>
          </div><br>
        </div>

        <div class="w3-quarter">
          <div class="w3-card-2 w3-padding-top" style="min-height:350px; background-color: #ffffff;">
            <figure class="image is-1by2"></figure>
            <img src="assets/images/looq/skirt5.png" alt="image-1" style="height: 250px"><br><br>
            <p><a href="https://www.pomelofashion.com/th/en/skirts/15435-midori-star-sheer-maxi-skirt.html" target="_blank">Midori Star Sheer Maxi Skirt</a></p>
            <big>1,290 ฿</big>
            <br>
          </div><br>
        </div>

        <div class="w3-quarter">
          <div class="w3-card-2 w3-padding-top" style="min-height:350px; background-color: #ffffff;">
            <figure class="image is-1by2"></figure>
            <img src="assets/images/looq/skirt6.png" alt="image-1" style="height: 250px"><br><br>
            <p><a href="http://shop.asavagroup.com/product/ads-199" target="_blank">Grace Skirtsads-199 - White</a></p>
            <big>7,400 ฿</big>
            <br>
          </div><br>
        </div>

        <div class="w3-quarter">
          <div class="w3-card-2 w3-padding-top" style="min-height:350px; background-color: #ffffff;">
            <figure class="image is-1by2"></figure>
            <img src="assets/images/looq/skirt7.png" alt="image-1" style="height: 250px"><br><br>
            <p><a href="http://shop.asavagroup.com/product/ads-200" target="_blank">Grace Skirts - Gray</a></p>
            <big>7,600 ฿</big>
            <br>
          </div><br>
        </div>

        <div class="w3-quarter">
          <div class="w3-card-2 w3-padding-top" style="min-height:350px; background-color: #ffffff;">
            <figure class="image is-1by2"></figure>
            <img src="assets/images/looq/skirt8.png" alt="image-1" style="height: 250px"><br><br>
            <p><a href="https://www.pomelofashion.com/th/en/skirts/14829-lilin-corduroy-midi-skirt.html" target="_blank">Lilin Corduroy Midi Skirt</a></p>
            <big>690 ฿</big>
            <br>
          </div><br>
        </div>

        <div class="w3-quarter">
          <div class="w3-card-2 w3-padding-top" style="min-height:350px; background-color: #ffffff;">
            <figure class="image is-1by2"></figure>
            <img src="assets/images/looq/skirt9.png" alt="image-1" style="height: 250px"><br><br>
            <p><a href="https://www.pomelofashion.com/th/en/skirts/14375-kady-buttoned-mini-skirt--white.html" target="_blank">Kady Buttoned Mini Skirt- White</a></p>
            <big>690 ฿</big>
            <br>
          </div><br>
        </div>

        <div class="w3-quarter">
          <div class="w3-card-2 w3-padding-top" style="min-height:350px; background-color: #ffffff;">
            <figure class="image is-1by2"></figure>
            <img src="assets/images/looq/skirt10.png" alt="image-1" style="height: 250px"><br><br>
            <p><a href="https://www.pomelofashion.com/th/en/skirts/15439-lawan-ruffle-midi-skirt---black.html" target="_blank">Lawan Ruffle Midi Skirt - Black</a></p>
            <big>1,090 ฿</big>
            <br>
          </div><br>
        </div>

        <div class="w3-quarter">
          <div class="w3-card-2 w3-padding-top" style="min-height:350px; background-color: #ffffff;">
            <figure class="image is-1by2"></figure>
            <img src="assets/images/looq/skirt11.png" alt="image-1" style="height: 250px"><br><br>
            <p><a href="https://www.pomelofashion.com/th/en/skirts/15440-lawan-ruffle-midi-skirt---white.html" target="_blank">Lawan Ruffle Midi Skirt - White</a></p>
            <big>1,090 ฿</big>
            <br>
          </div><br>
        </div>

        <div class="w3-quarter">
          <div class="w3-card-2 w3-padding-top" style="min-height:350px; background-color: #ffffff;">
            <figure class="image is-1by2"></figure>
            <img src="assets/images/looq/skirt12.png" alt="image-1" style="height: 250px"><br><br>
            <p><a href="https://www.pomelofashion.com/th/en/skirts/15458-kwan-button-striped-mini-skirt.html" target="_blank">Kwan Button Striped Mini Skirt</a></p>
            <big>890 ฿</big>
            <br>
          </div><br>
        </div> 

        <div class="w3-container w3-text-grey" id="jeans" style="text-align: center;"><br>
          <p>12 items</p>
        </div>

      <!-- Pagination -->
        <div class="w3-center w3-padding-32" style="text-align: center;">
          <div class="w3-bar">
            <a href="#!" class="w3-bar-item w3-button w3-hover-black">«</a>
            <a href="#!" class="w3-bar-item w3-black w3-button">1</a>
            <a href="#!" class="w3-bar-item w3-button w3-hover-black">2</a>
            <a href="#!" class="w3-bar-item w3-button w3-hover-black">3</a>
            <a href="#!" class="w3-bar-item w3-button w3-hover-black">4</a>
            <a href="#!" class="w3-bar-item w3-button w3-hover-black">»</a>
          </div>
        </div>
      </div>
    </div>

{% endblock %}