{% extends 'layout/base.twig' %}

{% block title %} <title>Testจ้าาาาาา</title> {% endblock %}

{% block stylesheet %} {% endblock %}

{% block style %} 
<pre>




ทดสอบ







</pre>

{% endblock %}

{% block content %} 
<pre>






ทดสอบ





</pre>
{% endblock %}