{% extends 'layout/base.twig' %}

{% block title %} <title>Winter is coming : 7 วัน 7 ไอเดีย เสื้อผ้าแฟชั่นในฤดูหนาว</title> {% endblock %}

{% block stylesheet %} {% endblock %}

{% block style %} 

	<style>
	    .img {
	      width: 100%;
	      height:auto;
	    }
	    .content img {
	      filter: alpha(opacity=100);
	      opacity:1.0;
	      -webkit-transition:0.7s;
	      -moz-transition:0.7s;
	      -o-transition:0.7s;
	      border-radius: 0px 0px 0px 0px;
	      -webkit-box-shadow: 3px 3px 3px #ccc;
      	-moz-box-shadow: 3px 3px 3px #ccc;
      	box-shadow: 3px 3px 3px #ccc;
	    }
	    .content img:hover {
	      filter: alpha(opacity=70);
	      opacity:.8;
	      border-radius: 20px 20px 20px 20px;	      
	    }
	    .content a{
	      color: #976f6c !important;
	    }
	    .content a:hover{
	      color: #f8b2a9 !important;
	    }
	</style>

{% endblock %}

{% block content1 %} {% endblock %}

{% block content2 %}

	<div class="content" style="color:#424242">
	  <!--text headder-->
	  <div style="padding-top: 85px; width: 100%; display: flex;">
	      <p class="topic" style="font-family: Chonburi; font-size: 2.5vw; color: #424242; padding-left: 10%">7 วัน 7 ไอเดีย เสื้อผ้าแฟชั่นในฤดูหนาว</p>
	  </div>
	  <!-- image -->
	  <div style="text-align: center; width: 100%; margin-bottom: 3%; margin-top: 3%">
	      <img class="tops" src="assets/images/content/winter/wint.jpg" style="width: 55%;">
	  </div>	  
	  <!--text-->
	  <center>
	    <div style="width: 80%; text-align: left; margin-bottom: 4%;">
	          <p style="font-size: 1.1vw;">
	            &nbsp; &nbsp; &nbsp;
	            ตื่นนอนขึ้นมาในตอนเช้าแต่ละวัน ปัญหาปวดหัวส่วนใหญ่ของแต่ละคนคงต่างกันไป
	            ทว่าสำหรับสาว ๆ แล้วคงมีเรื่องการแต่งตัวนี่แหละ ที่เป็นปัญหาชวนปวดหัวแต่เช้าเลย
	            แต่งออกมาแบบไหนดีนะ ใส่คู่กับอะไรถึงจะสวย?<br>
	            &nbsp; &nbsp; &nbsp;วันนี้ทางเรา <font style="font-family: Chonburi;color: #976f6c">
	            LOOQ&STYLE
	            </font>ถึงได้นำแฟชั่นฤดูหนาวมาให้เลือกสวยตลอดทั้งสัปดาห์มาฝากกันแล้วค่ะ ส่วนจะมีอะไรบ้าง ไปดูกัน!
	          </p>
	    </div>
	  </center>
      <!--imagetest-->
      <!--1-->
      <div style="margin: 3% 6% 3% 6%; width: 100%; display: flex;">
          <div class="w3-col" style="width: 40%; padding-left: 4%; padding-bottom: 3%">
            <img class="card-img-top" src="assets/images/content/winter/11.png" width="72%" height="auto" style="text-align: center;">
          </div>
          <!--text card right-->
          <div style="text-align: left; width: 60%; padding-top: 5%; margin-left: -3%">
              <p class="topic" style="font-family: Chonburi;font-size: 2.5vw;color: #976f6c">
                1. เดรสสีเทากับเสื้อสีอ่อนหวาน
              </p>
              <p class="card-text-top" style="padding-right: 30%;font-size: 1.1vw;">
                &nbsp; &nbsp; &nbsp;<b>เริ่มต้นวันแรกของสัปดาห์</b>
                 อาจจะค้นหาชุดเบา ๆ ที่ดูเรียบ ๆ ออกมาใส่ก่อนก็เป็นได้ เช่น เดรสคอกว้างสีเทา เข้ากับบรรยากาศของฤดูหนาว หาเสื้อโทนสีอ่อนหวานอย่างชมพูมาใส่ตัด ส่วนรองเท้าก็หาออกโทนน้ำตาลมาแต่งคู่กัน ลุคที่ออกมาก็จะดูออกหวานแต่ไม่เชยค่ะ
              </p>
          </div>
      </div>
      <!--2-->
      <div style="margin: 3% 6% 3% 6%; width: 100%; display: flex;">
          <!--text card left-->
          <div style="text-align: left; width: 48%;padding-top: 5%; padding-left: 4%; margin-right: 2%">
              <p class="topic" style="font-family: Chonburi;font-size: 2.5vw;color: #976f6c">
                2.  เดรสลายสก็อตกับเสื้อขาว
              </p>
              <p class="card-text-top" style="font-size: 1.1vw;">
                &nbsp; &nbsp; &nbsp;<b>วันแรกเราลองแต่งตัวให้ดูเรียบ ๆ กันไปแล้ว</b>
                  งั้นก็มาสลับหาชุดที่มีลวดลายและสีสันดูเข้มกว่านั้นมาใส่กันหน่อย เช่น เดรสยาวสีขาวดำประดับลายสก็อต เพียงแค่ได้มองก็สัมผัสได้ถึงกลิ่นอายของฤดูหนาวเลย ส่วนเสื้อด้านในก็ควรหาสีที่เหมือนกับลวดลายของตัวเดรสมาใส่คู่กันค่ะ มันจะได้ดูเป็นธีมเดียวกัน ไม่ฉีกจนเกินไปนัก
              </p>
          </div>
          <div class="w3-col" style="width: 52%; padding-left: 4%; padding-bottom: 3%; padding-right: 10%">
            <img class="card-img-top" src="assets/images/content/winter/22.png" width="73%" height="auto" style="text-align: center;">
          </div>
      </div>
      <!--3-->
      <div style="margin: 3% 6% 3% 6%; width: 100%; display: flex;">
          <div class="w3-col" style="width: 40%; padding-left: 4%; padding-bottom: 3%">
            <img class="card-img-top" src="assets/images/content/winter/33.png" width="72%" height="auto" style="text-align: center;">
          </div>
          <!--text card right-->
          <div style="text-align: left; width: 60%; padding-top: 5%; margin-left: -3%">
              <p class="topic" style="font-family: Chonburi;font-size: 2.5vw;color: #976f6c">
                3.  เสื้อโทนสีเข้มกับกระโปรงลายสก็อต
              </p>
              <p class="card-text-top" style="padding-right: 30%;font-size: 1.1vw;">
                &nbsp; &nbsp; &nbsp;<b>เจอแบบลายสก็อตเต็มตัวไปแล้ว</b>
                  วันที่สามก็ลองลดลวดลายลงให้เหลือแค่เฉพาะส่วนกระโปรงดูสิ ส่วนช่วงบนก็ให้หาเสื้อเรียบ ๆ มีแค่สีสันมาใส่คู่กันก็พอ การจับคู่นี้พอแต่งออกมาแล้วก็ดูไม่เลวเช่นกัน แต่ถ้าใครนึกกังวลอีกว่า ควรจับคู่สีแบบไหนดี ก็เน้นสีเสื้อให้มีหนึ่งในสี่ของกระโปรงก็พอแล้วค่ะ ใส่ออกมามันก็จะดูเข้าชุดกันไปเอง
              </p>
          </div>
      </div>
      <!--4-->
      <div style="margin: 3% 6% 3% 6%; width: 100%; display: flex;">
          <!--text card left-->
          <div style="text-align: left; width: 48%;padding-top: 5%; padding-left: 4%; margin-right: 2%">
              <p class="topic" style="font-family: Chonburi;font-size: 2.5vw;color: #976f6c">
                4.  เสื้อสีสดกับกระโปรงสีเข้ม
              </p>
              <p class="card-text-top" style="font-size: 1.1vw;">
                &nbsp; &nbsp; &nbsp;<b>เล่นลายมาสองวันติดอาจจะรู้สึกเบื่อเอาได้</b>
                  ถ้าอย่างนั้นในวันที่ 4 ของสัปดาห์ก็ลองวนกลับมาใส่พวกเสื้อผ้าสีพื้นกันดูโดยเพิ่มความสดใสให้กับชุดที่เลือกแต่งขึ้นมานิด ด้วยเสื้อสีสดใสอย่างแดงเข้ม เลือดหมู เอามาใส่ตัดกับกระโปรงสีเทาที่ให้กลิ่นอายของลมหนาวค่ะ
              </p>
          </div>
          <div class="w3-col" style="width: 52%; padding-left: 4%; padding-bottom: 3%; padding-right: 10%">
            <img class="card-img-top" src="assets/images/content/winter/44.png" width="73%" height="auto" style="text-align: center;">
          </div>
      </div>
      <!--5-->
      <div style="margin: 3% 6% 3% 6%; width: 100%; display: flex;">
          <div class="w3-col" style="width: 40%; padding-left: 4%; padding-bottom: 3%">
            <img class="card-img-top" src="assets/images/content/winter/55.png" width="72%" height="auto" style="text-align: center;">
          </div>
          <!--text card right-->
          <div style="text-align: left; width: 60%; padding-top: 5%; margin-left: -3%">
              <p class="topic" style="font-family: Chonburi;font-size: 2.5vw;color: #976f6c">
                5.  เดรสไหมพรมสีอ่อนกับชุดลูกไม้
              </p>
              <p class="card-text-top" style="padding-right: 30%;font-size: 1.1vw;">
                &nbsp; &nbsp; &nbsp;<b>พวกเสื้อที่ถักจากไหมพรมทั้งหลาย</b>
                  สำหรับประเทศไทยแล้วก็คงหยิบเอามาใส่ในหน้าหนาวได้แค่บางวันที่หนาวจัดเท่านั้น ดังนั้นเดรสที่ถักจากไหมพรมออกมาเป็นลายสวย ก็ขอเอามารวมเป็นหนึ่งในไอเท็มที่ควรหยิบมาใส่ด้วยเลยล่ะกัน! และถ้าใครมองว่ามันดูเรียบร้อยไป เราก็สามารถหาชุดลูกไม้มาใส่เข้าไปข้างใน เพื่อให้ชุดดูอ่อนหวานได้ค่ะ
              </p>
          </div>
      </div>
      <!--6-->
      <div style="margin: 3% 6% 3% 6%; width: 100%; display: flex;">
          <!--text card left-->
          <div style="text-align: left; width: 48%;padding-top: 5%; padding-left: 4%; margin-right: 2%">
              <p class="topic" style="font-family: Chonburi;font-size: 2.5vw;color: #976f6c">
                6.  เดรสลายดอกกับเสื้อสีสด
              </p>
              <p class="card-text-top" style="font-size: 1.1vw;">
                &nbsp; &nbsp; &nbsp;<B>เบื่อเสื้อผ้าสีพื้นแล้ว</B>
                  ลายสก็อตก็เบื่อ งั้นมาเปลี่ยนอารมณ์โดยการหยิบลายดอกน้ำตาลอ่อน และหาเสื้อนอกที่มีสีสันสดใสหรือเสื้อหนังเท่ ๆ มาใส่ทับดู มันจะช่วยทำให้ลุคของสาว ๆ อย่างเราดูโดดเด่นในสภาพบรรยากาศแสนหม่นหมองของฤดูหนาวได้นะ
              </p>
          </div>
          <div class="w3-col" style="width: 52%; padding-left: 4%; padding-bottom: 3%; padding-right: 10%">
            <img class="card-img-top" src="assets/images/content/winter/6.png" width="73%" height="auto" style="text-align: center;">
          </div>
      </div>
      <!--7-->
      <div style="margin: 3% 6% 3% 6%; width: 100%; display: flex;">
          <div class="w3-col" style="width: 40%; padding-left: 4%; padding-bottom: 5%">
            <img class="card-img-top" src="assets/images/content/winter/7.png" width="72%" height="auto" style="text-align: center;">
          </div>
          <!--text card right-->
          <div style="text-align: left; width: 60%; padding-top: 5%; margin-left: -3%">
              <p class="topic" style="font-family: Chonburi;font-size: 2.5vw;color: #976f6c">
                7.  เดรสประดับลายกับสีพื้น
              </p>
              <p class="card-text-top" style="padding-right: 30%;font-size: 1.1vw;">
                &nbsp; &nbsp; &nbsp;<B>วันสุดท้ายของสัปดาห์</B>
                  แต่งตัวออกมาให้ดูเข้ม ๆ กันหน่อยด้วยเดรสสีดำสนิทประดับลวดลายหลากสีสัน ดูไม่มืดจนเกินไป และถ้าเดรสที่หยิบมาใส่มีความบางหรืออุ่นไม่พอ ก็หาเดรสหรือแจ็คเก็ตอีกตัวทำจากไหมพรมมาใส่ทับเข้าไปอีกชั้นก็ได้นะสาว ๆ
              </p>
          </div>
      </div>
      <!--text-->
      <center>
        <div style="width: 80%; text-align: left; margin-bottom: 5%; margin-top: -4%">
              <p style="font-size: 1.1vw;">
                &nbsp; &nbsp; &nbsp;<b>หวังว่าการแนะนำเทรนด์แฟชั่นปี 2018</b>
                7 วัน 7 ไอเดียที่นำมาให้สาวๆ ได้มองหาชุดสวยๆ มาแต่งเข้ากับบรรยากาศของฤดูหนาวก็จบกันลงไปแล้วนะคะ ถ้าในตู้เสื้อผ้าของใครมีเสื้อผ้าแนวนี้อยู่ ก็ลองหยิบมาแต่งตามกันดูนะ แต่! ถ้าสาว ๆ ยังไม่มั่นใจในการแมทช์ชุด ทาง <font style="font-family: Chonburi" color="#976f6c">LOOQ&STYLE </font> เรายินดีให้บริการ 24 ชั่วโมงเลยค่ะ 
              </p>
        </div>
      </center>
    </div>

{% endblock %}