<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<title>LOOQ & STYLE</title>
	<link rel="stylesheet" type="text/css" href="css/demo.css" />
    <link rel="stylesheet" type="text/css" href="css/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Chonburi">
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/effect1.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
	<script src="js/modernizr.custom.js"></script>
	
    {% block stylesheet %} {% endblock %}
</head>
<body>

	{% block content %}
	{% endblock %}

	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/parallax/1.1.1/jquery.parallax.min.js'></script>
    <script  src="js/index.js"></script>
    <script>
      function w3_open() {
          var x = document.getElementById("mySidebar");
          x.style.width = "50%";
          x.style.fontSize = "20px";
          x.style.paddingTop = "10%";
          x.style.display = "block";
          var x = document.getElementById("mySidebar2");
          x.style.width = "50%";
          x.style.fontSize = "20px";
          x.style.paddingTop = "10%";
          x.style.display = "block";
      }
      function w3_close() {
          document.getElementById("mySidebar").style.display = "none";
      }

      //nongaoy
      $(".target").click(function () {
          var url = this.href;
          setTimeout(function () {
              location.href = url;
            }, 1300);
          return false;
      });
    </script>

</body>
</html>